@using Metron.Entities
@model DIMS.ViewModels.PERIOViewModel
@functions{
    public string GetClassFromProperties(string propertyName)
    {
        var props = Model.Proplist.FirstOrDefault<PERIOCasesheetProperties>(x => x.PropertyName == propertyName);

        if (props != null && props.PropertyVisibility == "N")
        {
            return "display:none";
        }

        return "";
    }
}


<div class="col-md-12">

    <div class="row">
        <div class="form-group form-group-sm">
            @Html.LabelFor(x => x.Diagnosis, new { @class = "col-md-2 control-label" })
            <div class="col-md-9">
                @Html.TextAreaFor(x => x.Diagnosis, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            @Html.LabelFor(x => x.InvestigationResult, new { @class = "col-md-2 control-label" })
            <div class="col-md-9">
                @Html.TextAreaFor(x => x.InvestigationResult, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            @Html.LabelFor(x => x.FinalDiagnosis, new { @class = "col-md-2 control-label" })
            <div class="col-md-9">
                @Html.TextAreaFor(x => x.FinalDiagnosis, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            @Html.LabelFor(x => x.IndividualPrognosis, new { @class = "col-md-2 control-label" })
            <div class="col-md-9">
                @Html.TextAreaFor(x => x.IndividualPrognosis, new { @class = "form-control" })
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group form-group-sm">
            @Html.LabelFor(x => x.OverallPrognosis, new { @class = "col-md-2 control-label" })
            <div class="col-md-9">
                @Html.TextAreaFor(x => x.OverallPrognosis, new { @class = "form-control" })
            </div>
        </div>
    </div>
</div>



