@model IEnumerable<DIMS.ViewModels.OrthoAnalysisViewModal>

@{
    string modelName = ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;
    int index = 0;
}
@functions{
    string GetId(string fieldName, int index)
    {
        return string.Format("{0}[{2}]_{1}", ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix, fieldName, index);
    }
    string GetName(string fieldName, int index)
    {
        return string.Format("{0}[{2}].{1}", ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix, fieldName, index);
    }
}

<div class="row">
    <div class="col-md-12">
        <table class="table">
            <tr>
                <th class="hidden">
                    @Html.DisplayNameFor(model => model.CranialManStaticId)
                </th>
                <th class="hidden">
                    @Html.DisplayNameFor(model => model.CranialManId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CranialManMeasurements)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CranialManMean)
                </th>

                <th>
                    @Html.DisplayNameFor(model => model.PtValue)
                </th>

            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td class="hidden">
                        @Html.TextBoxFor(modelItem => item.CranialManStaticId, new { @class = "col-sm-2 form-control", @id = GetId("CranialManStaticId", index), @Name = GetName("CranialManStaticId", index) })
                    </td>
                    <td class="hidden">
                        @Html.TextBoxFor(modelItem => item.CranialManId, new { @class = "col-sm-2 form-control", @id = GetId("CranialManId", index), @Name = GetName("CranialManId", index) })
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CranialManMeasurements)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CranialManMean)
                    </td>
                    <td>
                        @Html.TextBoxFor(modelItem => item.PtValue, new { @class = "col-sm-2 form-control", @id = GetId("PtValue", index), @Name = GetName("PtValue", index) })
                    </td>
                </tr>
                index++;
            }
        </table>

    </div>
</div>