@model DIMS.ViewModels.OrthoAnalysisViewModal
@{
    ViewBag.Title = "Dento Alveolar Lower  Analysis";
}


<h2>Dento Alveolar Lower  Analysis</h2>

@using (Html.BeginForm("SaveDentoLower", "Ortho", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Partial("../ORTHO/_ViewDentoLowerEdit", Model.DentoLowerAnalysisList,
                                new ViewDataDictionary()
                                    {
                                        TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "DentoLowerAnalysisList" }
                                    })
                        </div>
                        @Html.HiddenFor(x => x.OrthoId)
                        @Html.HiddenFor(x => x.AnalysisId)
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.LowerCraniumMaxilla, new { @class = "col-md-12 control-label" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.LowerCraniumMaxilla, new { @class = "form-control col-md-4" })
                                            </div>
                                            <div class="col-md-1">
                                                MM
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.LowerIncisorRetraction, new { @class = "col-md-12 control-label" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.LowerIncisorRetraction, new { @class = "form-control col-md-4" })
                                            </div>
                                            <div class="col-md-1">
                                                MM
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.LowerCoumflageTreatment, new { @class = "col-md-12 control-label" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.LowerCoumflageTreatment, new { @class = "form-control col-md-4" })
                                            </div>
                                            <div class="col-md-1">
                                                MM
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.LowerCorrectedRetraction, new { @class = "col-md-12 control-label" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.TextBoxFor(x => x.LowerCorrectedRetraction, new { @class = "form-control col-md-4" })
                                            </div>
                                            <div class="col-md-1">
                                                MM
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.Inference, new { @class = "col-md-3 control-label" })
                                            </div>
                                            <div class="col-md-3">
                                                @Html.TextAreaFor(x => x.Inference, new { @class = "form-control col-md-4" })
                                            </div>
                                        </div>
                                    </div>
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group form-group-sm">
                                                    <div class="col-md-7 control-label">
                                                        @Html.LabelFor(x => x.MentolabialAngle)
                                                    </div>
                                                    <div class="col-md-2 control-label">
                                                        @Html.RadioButtonFor(x => x.MentolabialAngle, "Yes")
                                                        @Html.LabelFor(x => x.rdnMentolabialYes)
                                                    </div>
                                                    <div class="col-md-3 control-label">
                                                        @Html.RadioButtonFor(x => x.MentolabialAngle, "No")
                                                        @Html.LabelFor(x => x.rdnMentolabialNo)
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="form-group form-group-sm">
                                                    <div class="col-md-7 control-label">
                                                        @Html.LabelFor(x => x.HoldawayRatio)
                                                    </div>
                                                    <div class="col-md-2 control-label">
                                                        @Html.RadioButtonFor(x => x.HoldawayRatio, "Yes")
                                                        @Html.LabelFor(x => x.rdnHoldawayRatioYes)
                                                    </div>
                                                    <div class="col-md-3 control-label">
                                                        @Html.RadioButtonFor(x => x.HoldawayRatio, "No")
                                                        @Html.LabelFor(x => x.rdnHoldawayRatioNo)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="row">
                                                <div class="form-group form-group-sm">
                                                    <div class="col-md-7 control-label">
                                                        @Html.LabelFor(x => x.LowerLipThickness)
                                                    </div>
                                                    <div class="col-md-2 control-label">
                                                        @Html.RadioButtonFor(x => x.LowerLipThickness, "Yes")
                                                        @Html.LabelFor(x => x.rdnLowerLipThicknessYes)
                                                    </div>
                                                    <div class="col-md-3 control-label">
                                                        @Html.RadioButtonFor(x => x.LowerLipThickness, "No")
                                                        @Html.LabelFor(x => x.rdnLowerLipThicknessNo)
                                                    </div>
                                                </div>
                                            </div>
                                            <br />
                                            <div class="row">
                                                <div class="form-group form-group-sm">
                                                    <div class="col-md-7 control-label">
                                                        @Html.LabelFor(x => x.LipLowerestheticLines)
                                                    </div>
                                                    <div class="col-md-2 control-label">
                                                        @Html.RadioButtonFor(x => x.LipLowerestheticLines, "Yes")
                                                        @Html.LabelFor(x => x.rdnLipLowerestheticLinesYes)
                                                    </div>
                                                    <div class="col-md-3 control-label">
                                                        @Html.RadioButtonFor(x => x.LipLowerestheticLines, "No")
                                                        @Html.LabelFor(x => x.rdnLipLowerestheticLinesNo)
                                                    </div>

                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-md-12 col-md-offset-4">
                                            <div class="form-group">
                                                <div class="col-sm-1">
                                                    <input type="submit" value="Save" class="fa fa-save btn btn-success"/>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}





