 @model DIMS.ViewModels.RadioRegistrationViewModel

@functions{
    public string IsVisible(string propertyName)
    {
        if (propertyName == null)
        {
            return "display:none";
        }
        return "";
    }

}


<style>
    .col30 {
        width: 30%;
        padding: 5px !important;
    }

    .col40 {
        width: 40%;
        padding: 5px !important;
    }

    .col50 {
        width: 50%;
        padding: 5px !important;
    }

    .col60 {
        width: 60%;
        padding: 5px !important;
    }

    .col70 {
        width: 70%;
        padding: 5px !important;
    }

    .col80 {
        width: 80%;
        padding: 5px !important;
    }

    .col35 {
        width: 35%;
        padding: 5px !important;
    }

    .col625 {
        width: 6%;
        padding: 5px !important;
    }

    .col10 {
        width: 10%;
        padding: 5px !important;
    }
</style>

<table class="table table-bordered" style="margin-bottom: 0px !important;">
    <tr>
        <td class="col25"><strong class="text-sm">@Html.DisplayNameFor(model => model.PatientName)</strong></td>
        <td class="col25">@Html.DisplayFor(model => model.PatientName)</td>
        <td class="col25"><strong class="text-sm">@Html.DisplayNameFor(model => model.AgeGender)</strong></td>
        <td class="col25">@Html.DisplayFor(model => model.AgeGender)</td>
    </tr>
    <tr>
        <td class="col25"><strong class="text-sm">@Html.DisplayNameFor(model => model.OpNo)</strong></td>
        <td class="col25">@Html.DisplayFor(model => model.OpNo)</td>
        <td class="col25"><strong class="text-sm">@Html.DisplayNameFor(model => model.DeptCode)</strong></td>
        <td class="col25">@Html.DisplayFor(model => model.DeptCode)</td>
    </tr>
    <tr>
        <td class="col25"><strong class="text-sm">@Html.DisplayNameFor(model => model.CreatedDateReceiving)</strong></td>
        <td class="col25">@Html.DisplayFor(model => model.CreatedDateReceiving)</td>
        <td class="col25"><strong class="text-sm">@Html.DisplayNameFor(model => model.CreatedDateDispatch)</strong></td>
        <td class="col25">@Html.DisplayFor(model => model.CreatedDateDispatch)</td>
    </tr>

</table>


