
@model DIMS.ViewModels.ReportSearchViewModel



<div class="box box-info">
    <div class="box-header with-border">
        <h3 class="box-title">Categorywise Collection Report</h3>
    </div>
    <div class="box-body">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td style="border-top:none">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(x => x.DateRange, new { @class = "control-label" })
                        </div>
                    </td>
                    <td style="border-top:none">
                        <div class="form-group form-group-sm">
                            @Html.EditorFor(model => model.DateRange, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </td>
                    <td style="border-top:none">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(x => x.Visit, new { @class = "control-label" })
                        </div>
                    </td>
                    <td style="border-top:none">
                        <div class="form-group form-group-sm">
                            @Html.DropDownListFor(model => model.DeptId, new SelectList(Model.Departmentlist, "DeptId", "DeptName"), htmlAttributes: new { @class = "form-control" })
                             
                        </div>
                    </td>
                </tr>
            </table>

        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title"><label id="VisitTypeName"></label></h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tbCollectionReport" class="table table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th class="col-md-2">DATE </th>
                                <th class="col-md-2">REGULAR</th>
                                <th class="col-md-1">CAMP</th>
                                <th class="col-md-1">BPL</th>
                                <th class="col-md-1">FREE</th>
                                <th class="col-md-1">STAFF</th>
                                <th class="col-md-2">STUDENT</th>
                                <th class="col-md-2">TOTAL </th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                        <tfoot>
                            <tr><th></th><th></th><th></th><th></th><th></th><th></th><th></th><th></th></tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <script src="~/Scripts/dataTables.buttons.min.js"></script>
    <script src="~/Scripts/buttons.flash.min.js"></script>
    <script src="~/Scripts/jszip.min.js"></script>
    <script src="~/Scripts/pdfmake.min.js"></script>
    <script src="~/Scripts/vfs_fonts.js"></script>
    <script src="~/Scripts/buttons.html5.min.js"></script>
    <script src="~/Scripts/buttons.print.min.js"></script>
}


<script>

    $(function () {
        var start = moment();
        var end = moment();

        $('#DateRange').daterangepicker({
            startDate: start,
            endDate: end,
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        function cb(start, end) {
            $('#DateRange span').html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
        }
        cb(start, end);

    });

    $(document).ready(function () {

        var SearchValue = function () {
            
                var selected = $("#DateRange").val();
                var from = selected.split("-");
                var fromdate = $.trim(from[0]); var todate =$.trim(from[1]);
                var date1 = fromdate.split("/").reverse().join("-");
                var date2 = todate.split("/").reverse().join("-");

                var $DeptId = $('#DeptId').val();
                var $DeptName = $("#DeptId option:selected").text();
              $.ajax({
                url: '@Url.Action("GetCategorywiseCollectionReport", "Report")',
                type: "POST",
                data: '{FromDateValue: "' + date1 + ' ",ToDateValue: "' + date2 + ' ",DeptId: "'+ $DeptId +'" }',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    table = $('#tbCollectionReport').DataTable();
                    table.destroy();
                    $('#tbCollectionReport').dataTable({
                        data: data,
                        columns: [
                            { 'data': 'Date' },
                            { 'data': 'Regular' },
                            { 'data': 'Camp' },
                            { 'data': 'BPL' },
                            { 'data': 'Free' },
                            { 'data': 'Staff' },
                            { 'data': 'Student' },
                            { 'data': 'Total' }
                        ],
                        "columnDefs": [
                           { className: "dt-right", "targets": [1, 2, 3, 4] },
                           { className: "dt-center", "targets": [5] },
                        ],
                        "footerCallback": function (row, data, start, end, display) {
                            var api = this.api();
                            var intVal = function (i) {
                                return typeof i === 'string' ?
                                    i.replace(/[\$,]/g, '') * 1 :
                                    typeof i === 'number' ?
                                    i : 0;
                            };

                            pageRegular = api
                             .column(1, { page: 'current' })
                             .data()
                             .reduce(function (a, b) {
                                 return intVal(a) + intVal(b);
                             }, 0);

                            pageCamp = api
                            .column(2, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                            pageBPL = api
                          .column(3, { page: 'current' })
                          .data()
                          .reduce(function (a, b) {
                              return intVal(a) + intVal(b);
                          }, 0);

                            pageFree = api
                            .column(4, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                            pageStaff = api
                            .column(5, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                            pageStudent = api
                            .column(6, { page: 'current' })
                            .data()
                            .reduce(function (a, b) {
                                return intVal(a) + intVal(b);
                            }, 0);

                            pageTotal = api
                           .column(7, { page: 'current' })
                           .data()
                           .reduce(function (a, b) {
                               return intVal(a) + intVal(b);
                           }, 0);

                            $(api.column(0).footer()).html('Total');
                            jQuery(api.column(1).footer()).html(Math.round(pageRegular.toFixed(2)));
                            jQuery(api.column(2).footer()).html(Math.round(pageCamp.toFixed(2)));
                            jQuery(api.column(3).footer()).html(Math.round(pageBPL.toFixed(2)));
                            jQuery(api.column(4).footer()).html(Math.round(pageFree.toFixed(2)));
                            jQuery(api.column(5).footer()).html(Math.round(pageStaff.toFixed(2)));
                            jQuery(api.column(6).footer()).html(Math.round(pageStudent.toFixed(2)));
                            jQuery(api.column(7).footer()).html(Math.round(pageTotal.toFixed(2)));
                        },
                        "dom": "Bfrtip",
                        "buttons": [
                            {
                                extend: 'copy',
                                messageTop: 'Census Report',
                                footer: true,
                                className: 'copyButton',
                                text: '<i class ="fa fa-clone"></i>Copy'

                            },
                            {
                                extend: 'excel',
                                messageTop: 'Census Report',
                                footer: true,
                                text: '<i class ="fa fa-file-excel-o"></i>Excel'

                            },
                             {
                                 extend: 'pdf',
                                 messageTop: 'Census Report',
                                 footer: true,
                                 text: '<i class ="fa fa-file-pdf-o"></i>Pdf'

                             },
                             {
                                 extend: 'csv',
                                 footer: true,
                                 text: '<i class ="fa fa-file-excel-o"></i>CSV'

                             },
                             {
                                 extend: 'print',
                                 messageTop: '<h3 class="text-center" style="margin-bottom:0;margin-top:0;">Categorywise Collection </h3><br/><h4 class="text-center" style="margin-bottom:0;margin-top:0;"> From &nbsp ' + date1 + ' &nbsp To &nbsp  ' + date2 + '</h4><br/><h4 class="text-center" style="margin-top:0;">  Department : ' + $DeptName + '</h4>',
                                 footer: true,                                 
                                 customize: function (win) {
                                     $(win.document.body)
                                         .css('font-size', '10pt')
                                         .prepend(
                                             '<img src="~/Content/logo-fade.png" style="position:absolute; top:0; left:0;" />'
                                         );
                                     $(win.document.body).find('table tfoot th:nth-child(1) ,thead th:nth-child(1)').css('text-align', 'center')
                                     $(win.document.body).find('table tfoot th:nth-child(2) ,tbody td:nth-child(2) ,thead th:nth-child(2)').css('text-align', 'center')
                                     $(win.document.body).find('table tfoot th:nth-child(3) ,tbody td:nth-child(3) ,thead th:nth-child(3)').css('text-align', 'center')
                                     $(win.document.body).find('table tfoot th:nth-child(4) ,tbody td:nth-child(4) ,thead th:nth-child(4)').css('text-align', 'center')
                                     $(win.document.body).find('table tfoot th:nth-child(5) ,tbody td:nth-child(5) ,thead th:nth-child(5)').css('text-align', 'center')
                                     $(win.document.body).find('table tfoot th:nth-child(6) ,tbody td:nth-child(6) ,thead th:nth-child(6)').css('text-align', 'center')
                                     $(win.document.body).find('table tfoot th:nth-child(7) ,tbody td:nth-child(7) ,thead th:nth-child(7)').css('text-align', 'center')
                                     $(win.document.body).find('table tfoot th:nth-child(8) ,tbody td:nth-child(8) ,thead th:nth-child(8)').css('text-align', 'center')
                                         .addClass('compact')
                                         .css('font-size', 'inherit');

                                 }

                             }
                        ],
                    })

                },
            })

        }

        SearchValue();
        $("#DateRange").on("change", function () {
            SearchValue();
        })

        $("#DeptId").on("change", function () {
            SearchValue();
        })
    });



</script>
