 @model DIMS.ViewModels.CONSViewModel

@{
    ViewBag.Title = "CONSCaserecordReport";
}

<style>
    .col30 {
        width: 30%;
        padding: 5px !important;
    }

    .col40 {
        width: 40%;
        padding: 5px !important;
    }

    .col50 {
        width: 50%;
        padding: 5px !important;
    }

    .col60 {
        width: 60%;
        padding: 5px !important;
    }

    .col70 {
        width: 70%;
        padding: 5px !important;
    }

    .col80 {
        width: 80%;
        padding: 5px !important;
    }

    .col35 {
        width: 35%;
        padding: 5px !important;
    }

    .col625 {
        width: 6%;
        padding: 5px !important;
    }

    .col10 {
        width: 10%;
        padding: 5px !important;
    }
</style>

@functions{
    public string IsVisible(string propertyName)
    {

        if (propertyName == null)
        {
            return "display:none";
        }
        return "";
    }
}

<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h3 class="box-title"><strong>Conservative Department Patient Casesheet</strong></h3>
        <div class="box-tools pull-right text-black ">
            Case Record #
            <strong>@Html.DisplayFor(model => model.CONSNo)</strong>
        </div>
    </div>
    <div class="box-body">
        <div class="row">
            <div class="col-md-12">
                <div class="table-responsive">

                    <h4><strong>Patient Details</strong></h4>
                    @Html.Partial("../Reports/_PatientDetailsReportHeader", Model.patientInformationViewModel)

                    @if (Model.ChiefComplaint != null || Model.PresentIllnessHistory != null)
                    {
                        <h4><strong>History</strong></h4>
                        <table class="table table-bordered">
                            <tr style='@IsVisible(@Model.ChiefComplaint)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.ChiefComplaint)</td>
                                <td class="col70">@Html.DisplayFor(model => model.ChiefComplaint)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.PresentIllnessHistory)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PresentIllnessHistory)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PresentIllnessHistory)</td>
                            </tr>

                        </table>
                    }

                    @if (Model.MedicalHistory != null || Model.DrugHistory != null)
                    {
                        <h5 class="text-center">Medical History</h5>
                        <table class="table table-bordered">
                            <tr style='@IsVisible(@Model.MedicalHistory)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.MedicalHistory)</td>
                                <td class="col70">@Html.DisplayFor(model => model.MedicalHistory)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.DrugHistory)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.DrugHistory)</td>
                                <td class="col70">@Html.DisplayFor(model => model.DrugHistory)</td>
                            </tr>

                        </table>
                    }

                    @if (Model.FamilyHistory != null)
                    {
                        <h5 class="text-center">Family History</h5>
                        <table class="table table-bordered">
                            <tr style='@IsVisible(@Model.FamilyHistory)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.FamilyHistory)</td>
                                <td class="col70">@Html.DisplayFor(model => model.FamilyHistory)</td>
                            </tr>
                        </table>
                    }

                    @if (Model.PastDentalHistory != null)
                    {
                        <h5 class="text-center">Past Dental History</h5>
                        <table class="table table-bordered">
                            <tr style='@IsVisible(@Model.PastDentalHistory)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PastDentalHistory)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PastDentalHistory)</td>
                            </tr>
                        </table>
                    }

                    @if (Model.PersonalHistory != null || Model.Diet != null || Model.Habits != null || Model.OralHygiene != null)
                    {
                        <h5 class="text-center">Personal History</h5>
                        <table class="table table-bordered">
                            <tr style='@IsVisible(@Model.PersonalHistory)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PersonalHistory)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PersonalHistory)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.Diet)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.Diet)</td>
                                <td class="col70">@Html.DisplayFor(model => model.Diet)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.Habits)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.Habits)</td>
                                <td class="col70">@Html.DisplayFor(model => model.Habits)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.OralHygiene)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.OralHygiene)</td>
                                <td class="col70">@Html.DisplayFor(model => model.OralHygiene)</td>
                            </tr>
                        </table>
                    }

                    @if (Model.ClinicalFindings != null || Model.TreatmentPlan != null || Model.RadiographicFinding != null || Model.IoparRvgBiteOcclussal != null)
                    {
                        <h4><strong>Clinical Findings</strong></h4>
                        <table class="table table-bordered">

                            <tr style='@IsVisible(@Model.ClinicalFindings)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.ClinicalFindings)</td>
                                <td class="col70">@Html.DisplayFor(model => model.ClinicalFindings)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.TreatmentPlan)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.TreatmentPlan)</td>
                                <td class="col70">@Html.DisplayFor(model => model.TreatmentPlan)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.RadiographicFinding)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.RadiographicFinding)</td>
                                <td class="col70">@Html.DisplayFor(model => model.RadiographicFinding)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.IoparRvgBiteOcclussal)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.IoparRvgBiteOcclussal)</td>
                                <td class="col70">@Html.DisplayFor(model => model.IoparRvgBiteOcclussal)</td>
                            </tr>
                        </table>
                    }


                    <h5 class="text-center">Vitality</h5>
                    <table class="table table-bordered ">
                        <tr>
                            <th class="text-center">
                                <img src="~/Content/Images/TeethImages/18.png" class="img-responsive" alt="18" />
                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/17.png" class="img-responsive" alt="17" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/16.png" class="img-responsive" alt="16" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/15.png" class="img-responsive" alt="15" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/14.png" class="img-responsive" alt="14" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/13.png" class="img-responsive" alt="13" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/12.png" class="img-responsive" alt="12" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/11.png" class="img-responsive" alt="11" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/21.png" class="img-responsive" alt="21" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/22.png" class="img-responsive" alt="22" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/23.png" class="img-responsive" alt="23" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/24.png" class="img-responsive" alt="24" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/25.png" class="img-responsive" alt="25" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/26.png" class="img-responsive" alt="26" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/27.png" class="img-responsive" alt="27" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/28.png" class="img-responsive" alt="28" />


                            </th>
                        </tr>
                        <tr>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth18)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth17)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth16)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth15)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth14)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth13)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth12)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth11)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth21)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth22)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth23)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth24)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth25)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth26)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth27)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth28)</strong></td>
                        </tr>

                        <tr>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth18)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth17)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth16)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth15)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth14)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth13)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth12)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth11)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth21)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth22)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth23)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth24)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth25)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth26)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth27)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth28)</td>
                        </tr>

                        <tr>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth48)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth47)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth46)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth45)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth44)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth43)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth42)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth41)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth31)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth32)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth33)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth34)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth35)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth36)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth37)</td>
                            <td class="col625">@Html.DisplayFor(model => model.VitalityTooth38)</td>
                        </tr>

                        <tr>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth48)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth47)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth46)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth45)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth44)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth43)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth42)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth41)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth31)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth32)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth33)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth34)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth35)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth36)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth37)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.VitalityTooth38)</strong></td>
                        </tr>

                        <tr>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/48.png" class="img-responsive" alt="48" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/47.png" class="img-responsive" alt="47" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/46.png" class="img-responsive" alt="46" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/45.png" class="img-responsive" alt="45" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/44.png" class="img-responsive" alt="44" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/43.png" class="img-responsive" alt="43" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/42.png" class="img-responsive" alt="42" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/41.png" class="img-responsive" alt="41" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/31.png" class="img-responsive" alt="31" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/32.png" class="img-responsive" alt="32" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/33.png" class="img-responsive" alt="33" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/34.png" class="img-responsive" alt="34" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/35.png" class="img-responsive" alt="35" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/36.png" class="img-responsive" alt="36" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/37.png" class="img-responsive" alt="37" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/38.png" class="img-responsive" alt="38" />


                            </th>
                        </tr>
                    </table>

                    @if (Model.PVOnColdNormal != null || Model.PVOnColdDelayed != null || Model.PVOnColdNonRes != null)
                    {

                        <h4 class="text-center">Pulp Vitality</h4>
                        <h5 class="text-center">On Cold Test</h5>
                        <table class="table table-bordered">
                            <tr style='@IsVisible(@Model.PVOnColdNormal)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PVOnColdNormal)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PVOnColdNormal)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.PVOnColdDelayed)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PVOnColdDelayed)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PVOnColdDelayed)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.PVOnColdNonRes)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PVOnColdNonRes)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PVOnColdNonRes)</td>
                            </tr>
                        </table>
                    }
                    @if (Model.PVOnElecNormal != null || Model.PVOnElecDelayed != null || Model.PVOnElecNonRes != null)
                    {
                        <h5 class="text-center">On Electric Test</h5>
                        <table class="table table-bordered">
                            <tr style='@IsVisible(@Model.PVOnElecNormal)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PVOnElecNormal)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PVOnElecNormal)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.PVOnElecDelayed)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PVOnElecDelayed)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PVOnElecDelayed)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.PVOnElecNonRes)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PVOnElecNonRes)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PVOnElecNonRes)</td>
                            </tr>
                        </table>
                    }



                    @if (Model.PVOnHeatNormal != null || Model.PVOnHeatDelayed != null || Model.PVOnHeatNonRes != null)
                    {
                        <h5 class="text-center">On Heat Test</h5>
                        <table class="table table-bordered">
                            <tr style='@IsVisible(@Model.PVOnHeatNormal)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PVOnHeatNormal)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PVOnHeatNormal)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.PVOnHeatDelayed)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PVOnHeatDelayed)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PVOnHeatDelayed)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.PVOnHeatNonRes)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PVOnHeatNonRes)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PVOnHeatNonRes)</td>
                            </tr>
                        </table>
                    }



                    @if (Model.Built != null || Model.NutritionalStatus != null || Model.PsychologicalAttitude != null || Model.Picol != null || Model.BloodPressure != null || Model.Temperature != null)
                    {
                        <h4><strong>Examination</strong></h4>
                        <h5 class="text-center">General Examination</h5>
                        <table class="table table-bordered">

                            <tr style='@IsVisible(@Model.Built)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.Built)</td>
                                <td class="col70">@Html.DisplayFor(model => model.Built)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.NutritionalStatus)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.NutritionalStatus)</td>
                                <td class="col70">@Html.DisplayFor(model => model.NutritionalStatus)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.PsychologicalAttitude)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.PsychologicalAttitude)</td>
                                <td class="col70">@Html.DisplayFor(model => model.PsychologicalAttitude)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.Picol)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.Picol)</td>
                                <td class="col70">@Html.DisplayFor(model => model.Picol)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.BloodPressure)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.BloodPressure)</td>
                                <td class="col70">@Html.DisplayFor(model => model.BloodPressure)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.Temperature)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.Temperature)</td>
                                <td class="col70">@Html.DisplayFor(model => model.Temperature)</td>
                            </tr>
                        </table>
                    }


                    @if (Model.FacialSymmetry != null || Model.Tmj != null || Model.ExtraOralOther != null)
                    {
                        <h5 class="text-center">Extra Oral Examination</h5>
                        <table class="table table-bordered">
                            <tr style='@IsVisible(@Model.FacialSymmetry)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.FacialSymmetry)</td>
                                <td class="col70">@Html.DisplayFor(model => model.FacialSymmetry)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.Tmj)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.Tmj)</td>
                                <td class="col70">@Html.DisplayFor(model => model.Tmj)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.ExtraOralOther)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.ExtraOralOther)</td>
                                <td class="col70">@Html.DisplayFor(model => model.ExtraOralOther)</td>
                            </tr>
                        </table>
                    }

                    @if (Model.BuccalMucosa != null || Model.Gingiva != null || Model.Palate != null || Model.Tongue != null || Model.FloorOfMouth != null || Model.Vestibule != null || Model.Lips != null)
                    {
                        <h5 class="text-center">Intra Oral Examination -A.Soft tissue Examination</h5>
                        <table class="table table-bordered">
                            <tr style='@IsVisible(@Model.BuccalMucosa)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.BuccalMucosa)</td>
                                <td class="col70">@Html.DisplayFor(model => model.BuccalMucosa)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.Gingiva)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.Gingiva)</td>
                                <td class="col70">@Html.DisplayFor(model => model.Gingiva)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.Palate)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.Palate)</td>
                                <td class="col70">@Html.DisplayFor(model => model.Palate)</td>
                            </tr>

                            <tr style='@IsVisible(@Model.Tongue)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.Tongue)</td>
                                <td class="col70">@Html.DisplayFor(model => model.Tongue)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.FloorOfMouth)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.FloorOfMouth)</td>
                                <td class="col70">@Html.DisplayFor(model => model.FloorOfMouth)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.Vestibule)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.Vestibule)</td>
                                <td class="col70">@Html.DisplayFor(model => model.Vestibule)</td>
                            </tr>
                            <tr style='@IsVisible(@Model.Lips)'>
                                <td class="col30">@Html.DisplayNameFor(model => model.Lips)</td>
                                <td class="col70">@Html.DisplayFor(model => model.Lips)</td>
                            </tr>
                        </table>
                    }



                   
                    <h5 class="text-center">INTRA ORAL EXAMINATION - B.Hard Tissue Examination</h5>
                    <h5 class="text-center">Permanent Dentition</h5>
                    <table class="table table-bordered ">
                        <tr>
                            <th class="text-center">
                                <img src="~/Content/Images/TeethImages/18.png" class="img-responsive" alt="18" />
                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/17.png" class="img-responsive" alt="17" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/16.png" class="img-responsive" alt="16" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/15.png" class="img-responsive" alt="15" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/14.png" class="img-responsive" alt="14" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/13.png" class="img-responsive" alt="13" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/12.png" class="img-responsive" alt="12" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/11.png" class="img-responsive" alt="11" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/21.png" class="img-responsive" alt="21" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/22.png" class="img-responsive" alt="22" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/23.png" class="img-responsive" alt="23" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/24.png" class="img-responsive" alt="24" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/25.png" class="img-responsive" alt="25" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/26.png" class="img-responsive" alt="26" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/27.png" class="img-responsive" alt="27" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/28.png" class="img-responsive" alt="28" />


                            </th>
                        </tr>
                        <tr>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T18)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T17)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T16)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T15)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T14)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T13)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T12)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T11)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T21)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T22)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T23)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T24)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T25)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T26)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T27)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T28)</strong></td>
                        </tr>

                        <tr>
                            <td class="col625">@Html.DisplayFor(model => model.T18)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T17)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T16)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T15)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T14)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T13)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T12)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T11)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T21)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T22)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T23)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T24)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T25)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T26)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T27)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T28)</td>
                        </tr>

                        <tr>
                            <td class="col625">@Html.DisplayFor(model => model.T48)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T47)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T46)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T45)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T44)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T43)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T42)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T41)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T31)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T32)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T33)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T34)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T35)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T36)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T37)</td>
                            <td class="col625">@Html.DisplayFor(model => model.T38)</td>
                        </tr>

                        <tr>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T48)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T47)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T46)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T45)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T44)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T43)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T42)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T41)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T31)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T32)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T33)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T34)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T35)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T36)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T37)</strong></td>
                            <td class="col625"><strong>@Html.DisplayNameFor(model => model.T38)</strong></td>
                        </tr>

                        <tr>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/48.png" class="img-responsive" alt="48" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/47.png" class="img-responsive" alt="47" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/46.png" class="img-responsive" alt="46" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/45.png" class="img-responsive" alt="45" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/44.png" class="img-responsive" alt="44" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/43.png" class="img-responsive" alt="43" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/42.png" class="img-responsive" alt="42" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/41.png" class="img-responsive" alt="41" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/31.png" class="img-responsive" alt="31" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/32.png" class="img-responsive" alt="32" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/33.png" class="img-responsive" alt="33" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/34.png" class="img-responsive" alt="34" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/35.png" class="img-responsive" alt="35" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/36.png" class="img-responsive" alt="36" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/37.png" class="img-responsive" alt="37" />


                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/38.png" class="img-responsive" alt="38" />


                            </th>
                        </tr>
                    </table>

                    <h5 class="text-center">Primary Dentition</h5>
                    <table class="table table-bordered ">
                        <tr>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/55.png" class="img-responsive" alt="55" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/54.png" class="img-responsive" alt="54" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/53.png" class="img-responsive" alt="53" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/52.png" class="img-responsive" alt="52" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/51.png" class="img-responsive" alt="51" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/61.png" class="img-responsive" alt="61" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/62.png" class="img-responsive" alt="62" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/63.png" class="img-responsive" alt="63" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/64.png" class="img-responsive" alt="64" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/65.png" class="img-responsive" alt="65" />

                            </th>
                        </tr>
                        <tr>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T55)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T54)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T53)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T52)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T51)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T61)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T62)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T63)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T64)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T65)</strong></td>
                        </tr>

                        <tr>
                            <td class="col10">@Html.DisplayFor(model => model.T55)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T54)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T53)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T52)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T51)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T61)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T62)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T63)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T64)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T65)</td>
                        </tr>

                        <tr>
                            <td class="col10">@Html.DisplayFor(model => model.T85)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T84)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T83)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T82)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T81)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T71)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T72)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T73)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T74)</td>
                            <td class="col10">@Html.DisplayFor(model => model.T75)</td>
                        </tr>

                        <tr>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T85)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T84)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T83)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T82)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T81)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T71)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T72)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T73)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T74)</strong></td>
                            <td class="col10"><strong>@Html.DisplayNameFor(model => model.T75)</strong></td>
                        </tr>

                        <tr>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/85.png" class="img-responsive" alt="85" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/84.png" class="img-responsive" alt="84" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/83.png" class="img-responsive" alt="83" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/82.png" class="img-responsive" alt="82" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/81.png" class="img-responsive" alt="81" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/71.png" class="img-responsive" alt="71" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/72.png" class="img-responsive" alt="72" />

                            </th>
                            <th class="text-center">
                                <img src="~/Content/Images/TeethImages/73.png" class="img-responsive" alt="73" /></center>
                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/74.png" class="img-responsive" alt="74" />

                            </th>
                            <th class="text-center">

                                <img src="~/Content/Images/TeethImages/75.png" class="img-responsive" alt="75" />

                            </th>
                        </tr>
                    </table>


                    @if (Model.paidInvestigationList.Count() > 0)
                    {
                        <h4><strong>Investigations</strong></h4>
                        @Html.Partial("../Reports/_PaidInvestigationList", Model.paidInvestigationList)
                    }

                    @if (Model.deptTreatmentList.Count() > 0)
                    {
                        <h4><strong>Treatment Details</strong></h4>
                        @Html.Partial("../Reports/_DeptTreatmentList", Model.deptTreatmentList)
                    }
                    @if (Model.studentProcedureNotesViewModel.Count() > 0)
                    {
                        <h4><strong>Procedure Notes Details</strong></h4>
                        @Html.Partial("../StudentAllotment/_ProdedureNoteDetails", Model.studentProcedureNotesViewModel)
                    }

                    @if (Model.followupList.Count() > 0)
                    {
                        <h4><strong>Appointment Details</strong></h4>
                        @Html.Partial("../Followup/_PatientFollowUpList", Model.followupList)
                    }
                    @if (Model.FileUploadlist.Count() > 0)
                    {
                        <h4><strong>Images</strong></h4>
                        @Html.Partial("../Reports/_RadAndPhotoImagesReport", Model.FileUploadlist)
                    }


                    @if (Model.ViewdepartmentReferredStatus.Count() > 0)
                    {
                        <h4><strong>Referral Details</strong></h4>
                        @Html.Partial("../Reports/ViewReferralReport", Model.ViewdepartmentReferredStatus)
                    }




                </div>
            </div>
        </div>
    </div>
</div>
