@model DIMS.ViewModels.RadioRegistrationViewModel

@{
    ViewBag.Title = "Create";
}

@using (Html.BeginForm("Create", "Radiology", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true)

        <div class="box box-info ">
            <div class="box-header with-border" style="background-color:aliceblue;">
                <h3 class="box-title"> Patient Information</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        @Html.Partial("../Radiology/_BillInformationDetails", Model)
                        @Html.HiddenFor(x => x.BillId)
                        @Html.HiddenFor(x => x.PatientId)
                    </div>
                </div>
            </div>
        </div>

        @{
            if (TempData["message"] != null)
            {
                <script type="text/javascript">
                    alert(@Html.Raw(Json.Encode(TempData["message"])));
                </script>
            }
            else
            {
                <div class="row">
                    <div class="form-group">
                        <center>
                            <button type="submit" class="btn btn-success btn-sm">
                                Save
                                <i class="fa fa-save"></i>
                            </button>
                        </center>
                    </div>
                </div>
            }
        }
        <div class="box box-info">
            <div class="box-header with-border" style="background-color:aliceblue;">
                <h4 class="box-title"> Test Name Details</h4>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Partial("../Radiology/_TestNameInformationDetails", Model.TestNameList,
                             new ViewDataDictionary()
                             {
                                 TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "TestNameList" }
                             })
                        </div>
                    </div>
                </div>
            </div>
        </div>
                <div class="row">
                    <div class="form-group form-group-sm hidden">
                        @Html.LabelFor(x => x.LabNo, new { @class = "col-md-1 control-label" })
                        <div class="col-md-3">
                            @Html.TextBoxFor(x => x.LabNo, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
            </div>
            }


            <div>
                @Html.ActionLink("Back to List", "Index")
            </div>
