@model IEnumerable<DIMS.ViewModels.FileUploadViewModel>

@{
    ViewBag.Title = "Index";
}
<div class="table-responsive">
    <table id="tbFileUploadDetails" class="table table-bordered">
        <tr>
            <th>

            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FileName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>

        </tr>
        @{int i = 0;}
        @foreach (var item in Model)
    {
        i++;
    <tr>
        <td>
            <span>@i</span>
        </td>
        <td class="col-md-2">
            @Html.DisplayFor(modelItem => item.FileTypeName)
        </td>
        <td class="col-md-4">
            @Html.ActionLink(item.FileName, "DownloadFile", "FileUpload", new { fileName = item.FilePath }, null)
        </td>
        <td class="col-md-6">
            @Html.DisplayFor(modelItem => item.Description)
        </td>
    </tr>
    }

    </table>
    </div>