 @model DIMS.ViewModels.TemplateViewModal


@{
    ViewBag.Title = "Create";
}

@functions {
    object getHtmlAttributes(string value, string CssClass)
    {
        if (string.IsNullOrEmpty(value))
        {
            return new { @class = CssClass, disabled = "disabled" };
        }
        return new { @class = CssClass };
    }
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">


        <div class="box box-info ">
            <div class="box-header with-border" style="background-color:aliceblue;">
                <h3 class="box-title">Radiology Test Definer</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    @Html.LabelFor(x => x.ServiceId, new { @class = "col-md-2 control-label" })
                                    <div class="col-md-6">
                                        @Html.DropDownListFor(model => model.ServiceId, new SelectList(Model.ServicesList, "ServiceId", "ServiceName"), htmlAttributes: new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            @*<div class="row">
                                    <div class="form-group form-group-sm">
                                        @Html.LabelFor(x => x.GroupId, new { @class = "col-md-2 control-label" })
                                        <div class="col-md-6">
                                            @Html.DropDownListFor(model => model.GroupId, new SelectList(Model.GroupList, "GroupId", "GroupName"), htmlAttributes: new { @class = "form-control" })
                                        </div>
                                    </div>
                                </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">

            @{
                if (TempData["message"] != null)
                {
                    <script type="text/javascript">
                             alert(@Html.Raw(Json.Encode(TempData["message"])));
                    </script>
                }
            }
            <div class="col-md-offset-5 col-md-10">
                <button type="submit" class="btn btn-success btn-sm" id="btnServices">
                    Save
                    <i class="fa fa-save"></i>
                </button>
            </div>
        </div>

        <div class="box-body">
            <div class="box box-info">
                <div class="box-header with-border">
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Partial("../RadiologyTemplate/_ViewCreate", Model.radiologyViewModal)
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="form-group">
                            @Html.Partial("../RadiologyTemplate/_ViewServiceList", Model.ServiceListDetails,
                            new ViewDataDictionary()
                            {
                                TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "ServiceListDetails" }
                            })
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>


@section scripts {
    <script type="text/javascript">

        $(document).ready(function () {

            $("#btnRadioAdd").click(function (e) {
                
                var itemIndex = $("#tbServiceDetails input.iHidden").length;
                e.preventDefault();
                var RadioTempDetId = $("#RadioTempDetId").val();
                var RadioTempId = $("#RadioTempId").val();
                var ServiceItems = $("#ServiceItems").val();
                var DisplayOrder = $("#DisplayOrder").val();
                var IsChecked = $("#IsChecked").val();//checkbox
                if ($(".js_getIsChecked").is(':checked')) {
                    HeadCheck = 'Y';
                    $(".js_getIsChecked:checked").prop("checked", false)
                } else {
                    HeadCheck = 'N';
                }
                var idArray = [];
                $('.iHidden').each(function () {
                    idArray.push($(this).val());
                });
                if (HeadCheck == "N") {
                    var Display = $("#DisplayOrder").val();
                    if (Display == "") {
                        alert("Enter Display Order");
                        $("#DisplayOrder").focus();
                    }
                    else if (jQuery.inArray(ServiceItems, idArray) != '-1') {
                        alert("Already Added");
                        $("#ServiceItems").val("");
                        $("#DisplayOrder").val("");
                        $("#ServiceItems").focus();
                    }
                    else {
                        var markupRadioDetId = "<td><input name='ServiceListDetails[" + itemIndex + "].RadioTempDetId' class='form-control js_RadioTempDetId'   id='ServiceListDetails[" + itemIndex + "]_RadioTempDetId' type='hidden' value=" + RadioTempDetId + ">"
                        var markupRadioId = " <input name='ServiceListDetails[" + itemIndex + "].RadioTempId' class='form-control js_RadioTempId'  id='ServiceListDetails[" + itemIndex + "]_RadioTempId' type='hidden' value=" + RadioTempId + ">"
                        var markupServiceName = "<input type='hidden' id='ServiceListDetails[" + itemIndex + "]_ServiceItems' class='form-control iHidden'  name='ServiceListDetails[" + itemIndex + "].ServiceItems' value='" + ServiceItems + "'>";
                        var markupDisplayOrder = "<td>" + DisplayOrder + "<input type='hidden' id='ServiceListDetails[" + itemIndex + "]_DisplayOrder' class='form-control js_DisplayOrder'  name='ServiceListDetails[" + itemIndex + "].DisplayOrder' value='" + DisplayOrder + "'></td>";
                        var markupIsChecked = "<td>" + HeadCheck + "<input type='hidden' id='ServiceListDetails[" + itemIndex + "]_IsHeader' class='form-control js_Header'  name='ServiceListDetails[" + itemIndex + "].IsHeader' value=" + HeadCheck + "> </td>";
                        var Edit = "<td><button type='button' class='RadioEdit btn btn-primary btn-xs' data-id='0'> <i class='glyphicon glyphicon-pencil'></i></button> </td>";
                        var markupFinal = "<tr>" + markupRadioDetId + markupRadioId + ServiceItems + markupServiceName + markupDisplayOrder + markupIsChecked + Edit + "</tr>";
                        $("#tbServiceDetails tbody").append(markupFinal);

                        $("#ServiceItems").val("");
                        $("#DisplayOrder").val("");
                        $("#ServiceItems").focus();
                    }
                }
                else {
                    var markupRadioDetId = "<td><input name='ServiceListDetails[" + itemIndex + "].RadioTempDetId' class='form-control js_RadioTempDetId'   id='ServiceListDetails[" + itemIndex + "]_RadioTempDetId' type='hidden' value=" + RadioTempDetId + ">"
                    var markupRadioId = " <input name='ServiceListDetails[" + itemIndex + "].RadioTempId' class='form-control js_RadioTempId'  id='ServiceListDetails[" + itemIndex + "]_RadioTempId' type='hidden' value=" + RadioTempId + ">"
                    var markupServiceName = "<input type='hidden' id='ServiceListDetails[" + itemIndex + "]_ServiceItems' class='form-control iHidden'  name='ServiceListDetails[" + itemIndex + "].ServiceItems' value='" + ServiceItems + "'>";
                    var markupDisplayOrder = "<td>" + DisplayOrder + "<input type='hidden' id='ServiceListDetails[" + itemIndex + "]_DisplayOrder' class='form-control js_DisplayOrder'  name='ServiceListDetails[" + itemIndex + "].DisplayOrder' value='" + DisplayOrder + "'></td>";
                    var markupIsChecked = "<td>" + HeadCheck + "<input type='hidden' id='ServiceListDetails[" + itemIndex + "]_IsHeader' class='form-control js_Header'  name='ServiceListDetails[" + itemIndex + "].IsHeader' value=" + HeadCheck + "> </td>";
                    var Edit = "<td><button type='button' class='RadioEdit btn btn-primary btn-xs' data-id='0'> <i class='glyphicon glyphicon-pencil'></i></button> </td>";
                    var markupFinal = "<tr>" + markupRadioDetId + markupRadioId + ServiceItems + markupServiceName + markupDisplayOrder + markupIsChecked + Edit + "</tr>";
                    $("#tbServiceDetails tbody").append(markupFinal);

                    $("#ServiceItems").val("");
                    $("#DisplayOrder").val("");
                    $("#ServiceItems").focus();
                }
            });

            //var url = "/RadiologyTemplate/DeleteServiceListDetails";
            @*var url = '@Url.Action("DeleteServiceListDetails", "RadiologyTemplate")';
            $('#tbServiceDetails').on('click', ".Radiodelete", function () {
                var Con = confirm("Are you want to delete ?");
                if (Con == true) {
                    var id = $(this).data('id');
                    var row = $(this).closest('tr');
                    
                    if (id == 0) {
                        row.remove();
                    }
                    else {
                        $.post(url, { ServiceItems: id }, function (response) {
                            if (response) {
                                row.remove(); // OK, so remove the row
                            } else {
                                // Oops - display and error message?
                            }
                        });
                    }
                }
            });*@

            $('#tbServiceDetails').on('click', ".RadioEdit", function () {
                  
                var Con = confirm("Do you want to Edit ?");
                if (Con == true) {
                    var Id = $(this).data('id');
                    var row = $(this).closest('tr');   // Find the row
                    var $tds = row.find("td");
                    var varRadioTempDetId= Id;
                    var varServiceItems = $tds.closest('tr').find('.iHidden').val();
                    var varDisplayOrder = $tds.closest('tr').find('.js_DisplayOrder').val();
                    var varIsHeader = $tds.closest('tr').find('.js_Header').val();
 
                    $("#RadioTempDetId").val(varRadioTempDetId);
                    $("#ServiceItems").val(varServiceItems);
                    $("#DisplayOrder").val(varDisplayOrder);
                    if (varIsHeader=="N")
                    {
                        $(".js_getIsChecked:checked").prop("checked", false)
                    }
                    else
                    {
                        $(".js_getIsChecked:checked").prop("checked", true)
                    }

                    row.remove();
                }
             });
        });
    </script>
}
