@using Metron.Entities
@model DIMS.ViewModels.PROSFPDViewModel
@{
    ViewBag.Title = "_PROSFPDHistory";
}
@helper CreateCheckbox(string value)
{
    @Html.CheckBox("chkBox", !string.IsNullOrEmpty(value), new { @class = "checkbox-inline" })
}
@functions{
    public string GetClassFromProperties(string propertyName)
    {
        var props = Model.Proplist.FirstOrDefault<PROSFPDCasesheetProperties>(x => x.PropertyName == propertyName);

        if (props != null && props.PropertyVisibility == "N")
        {
            return "display:none";
        }

        return "";
    }
}
@functions {
    object getHtmlAttributes(string value, string CssClass)
    {
        if (string.IsNullOrEmpty(value))
        {
            return new { @class = CssClass, disabled = "disabled" };
        }
        return new { @class = CssClass };
    }
}


<div class="row ">
    <div class="col-md-12">
        <div class="form-group form-group-sm ">
            @Html.ValidationMessageFor(model => model.ProsthoFPDDate)
            @Html.HiddenFor(model => model.PatientId)
            @Html.HiddenFor(model => model.ProsthoFPDId)
            @Html.HiddenFor(model => model.TreatmentReferredId)
            @Html.HiddenFor(model => model.AllotId)
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group form-group-sm required">
        @Html.LabelFor(x => x.ChiefComplaintName, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(x => x.ChiefComplaint, new { @class = "form-control", required = "required" })
        </div>
    </div>
</div>

<div class="row">
    <div class="form-group form-group-sm">
        @Html.LabelFor(x => x.HistChiefComp, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextAreaFor(x => x.HistChiefComp, new { @class = "form-control" })
        </div>
    </div>
</div>



<div class="row">
    <div class="col-md-12">
        <div class="box box-default collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">MEDICAL HISTORY </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(x => x.MedicalHistory, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(x => x.MedicalHistory, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(x => x.LAAllergy, new { @class = "col-md-2 control-label" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(x => x.LAAllergy, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box box-default collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">DENTAL HISTORY </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group form-group-sm">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(x => x.Reasons, new { @class = "col-md-4 control-label" })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(x => x.Duration, new { @class = "col-md-4 control-label" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group-sm">
                                <div class="col-md-4 control-label">
                                    @Html.LabelFor(x => x.MaxillaryReason)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.MaxillaryReason, new { @class = "form-control" })

                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.MaxillaryDuration, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="form-group form-group-sm">
                                <div class="col-md-4">
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(x => x.Reasons, new { @class = "col-md-4 control-label" })
                                </div>
                                <div class="col-md-4">
                                    @Html.LabelFor(x => x.Duration, new { @class = "col-md-4 control-label" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="form-group form-group-sm">
                                <div class="col-md-4 control-label">
                                    @Html.LabelFor(x => x.MandibularReason)
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.MandibularReason, new { @class = "form-control" })
                                </div>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.MandibularDuration, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="box box-default collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">PRE EXTRACTION RECORD AND HABITS</h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="form-group form-group-sm">
                        @Html.LabelFor(x => x.PreExtraction, new { @class = "col-md-2 control-label" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(x => x.PreExtraction, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">


                        <h5 class="subHeading1">Habits</h5>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.Frequency, new { @class = "col-md-4 control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.Duration, new { @class = "col-md-4 control-label" })
                                    </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <div class="col-md-4 control-label">
                                        @Html.LabelFor(x => x.ClenchingFreq)
                                        @CreateCheckbox(Model.ClenchingFreq)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.ClenchingFreq, getHtmlAttributes(Model.AlcoholFreq, "form-control"))
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.ClenchingDur, getHtmlAttributes(Model.AlcoholDur, "form-control"))

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <div class="col-md-4 control-label">
                                        @Html.LabelFor(x => x.GrindingFreq)
                                        @CreateCheckbox(Model.GrindingFreq)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.GrindingFreq, getHtmlAttributes(Model.AlcoholFreq, "form-control"))
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.GrindingDur, getHtmlAttributes(Model.AlcoholDur, "form-control"))

                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <div class="col-md-4 control-label">
                                        @Html.LabelFor(x => x.BruxismFreq)
                                        @CreateCheckbox(Model.BruxismFreq)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.BruxismFreq, getHtmlAttributes(Model.AlcoholFreq, "form-control"))
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.BruxismDur, getHtmlAttributes(Model.AlcoholDur, "form-control"))
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <div class="col-md-4 control-label">
                                        @Html.LabelFor(x => x.MasticatoryMusFreq)
                                        @CreateCheckbox(Model.MasticatoryMusFreq)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.MasticatoryMusFreq, getHtmlAttributes(Model.AlcoholDur, "form-control"))
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.MasticatoryMusDur, getHtmlAttributes(Model.AlcoholFreq, "form-control"))
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class="col-md-6">
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <div class="col-md-4">
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.Frequency, new { @class = "col-md-4 control-label" })
                                    </div>
                                    <div class="col-md-4">
                                        @Html.LabelFor(x => x.Duration, new { @class = "col-md-4 control-label" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <div class="col-md-4 control-label">
                                        @Html.LabelFor(x => x.PanChewingFreq)
                                        @CreateCheckbox(Model.PanChewingFreq)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.PanChewingFreq, getHtmlAttributes(Model.AlcoholDur, "form-control"))
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.PanChewingDur, getHtmlAttributes(Model.AlcoholFreq, "form-control"))
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <div class="col-md-4 control-label">
                                        @Html.LabelFor(x => x.TongueThrustingFreq)
                                        @CreateCheckbox(Model.TongueThrustingFreq)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.TongueThrustingFreq, getHtmlAttributes(Model.AlcoholDur, "form-control"))
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.TongueThrustingDur, getHtmlAttributes(Model.AlcoholFreq, "form-control"))
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <div class="col-md-4 control-label">
                                        @Html.LabelFor(x => x.SmokingFreq)
                                        @CreateCheckbox(Model.SmokingFreq)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.SmokingFreq, getHtmlAttributes(Model.AlcoholDur, "form-control"))
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.SmokingDur, getHtmlAttributes(Model.AlcoholFreq, "form-control"))
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <div class="col-md-4 control-label">
                                        @Html.LabelFor(x => x.AlcoholFreq)
                                        @CreateCheckbox(Model.AlcoholFreq)
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.AlcoholFreq, getHtmlAttributes(Model.AlcoholDur, "form-control"))
                                    </div>
                                    <div class="col-md-4">
                                        @Html.TextBoxFor(x => x.AlcoholDur, getHtmlAttributes(Model.AlcoholFreq, "form-control"))
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    <div class="col-md-4 control-label">
                                        @Html.LabelFor(x => x.OtherHabits)
                                    </div>
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(x => x.OtherHabits, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




