@model DIMS.ViewModels.PROSDIMViewModel

@functions {
    object getHtmlAttributes(string value, string CssClass)
    {
        if (string.IsNullOrEmpty(value))
        {
            return new { @class = CssClass, disabled = "disabled" };
        }
        return new { @class = CssClass };
    }
}

@helper CreateCheckbox(string value)
{
    @Html.CheckBox("chkBox", !string.IsNullOrEmpty(value), new { @class = "checkbox-inline" })
}

    
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="row ">
            <div class="col-md-12">
                <div class="form-group form-group-sm ">
                    @Html.ValidationMessageFor(model => model.ProsthoDIMDate)
                    @Html.HiddenFor(model => model.PatientId)
                    @Html.HiddenFor(model => model.ProsthoDIMId)
                    @Html.HiddenFor(model => model.TreatmentReferredId)
                    @Html.HiddenFor(model => model.AllotId)
                </div>
            </div>
        </div>
        <div id="divChiefComplaintName" >

            <div class="row">
                <div class="form-group form-group-sm required">
                    @Html.LabelFor(x => x.ChiefComplaintName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(x => x.ChiefComplaint, new { @class = "form-control", required = "required" })
                    </div>
                </div>
            </div>
        </div>

        <div id="divHistoryOfPresent" >
            <div class="row">
                <div class="form-group form-group-sm">
                    @Html.LabelFor(model => model.HistoryOfPresent, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.HistoryOfPresent, new { @class = "form-control" })
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">DENTAL HISTORY</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div id="divDentalHistory">
                            <div class="row">
                                <div class="form-group form-group-sm">
                                    @Html.LabelFor(model => model.DentalHistory, new { @class = "control-label col-md-2" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(model => model.DentalHistory, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="box box-default collapsed-box">
                    <div class="box-header with-border">
                        <h3 class="box-title">MEDICAL HISTORY</h3>
                        <div class="box-tools pull-right">
                            <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                                <i class="fa fa-plus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-6">
                                <div id="divDiabetesMellitus">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.DiabetesMellitus)
                                                @CreateCheckbox(Model.DiabetesMellitus)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.DiabetesMellitus, getHtmlAttributes(Model.DiabetesMellitus, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divHypertension">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.Hypertension)
                                                @CreateCheckbox(Model.Hypertension)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.Hypertension, getHtmlAttributes(Model.Hypertension, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divDrugAllergy">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.DrugAllergy)
                                                @CreateCheckbox(Model.DrugAllergy)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.DrugAllergy, getHtmlAttributes(Model.DrugAllergy, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divBleedingOrder">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.BleedingOrder)
                                                @CreateCheckbox(Model.BleedingOrder)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.BleedingOrder, getHtmlAttributes(Model.BleedingOrder, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divThyroidDisorders">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.ThyroidDisorders)
                                                @CreateCheckbox(Model.ThyroidDisorders)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.ThyroidDisorders, getHtmlAttributes(Model.ThyroidDisorders, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divBoneDisorders">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.BoneDisorders)
                                                @CreateCheckbox(Model.BoneDisorders)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.BoneDisorders, getHtmlAttributes(Model.ThyroidDisorders, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divOralMalignancy">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.OralMalignancy)
                                                @CreateCheckbox(Model.OralMalignancy)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.OralMalignancy, getHtmlAttributes(Model.ThyroidDisorders, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divLiverCirrhosis">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.LiverCirrhosis)
                                                @CreateCheckbox(Model.LiverCirrhosis)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.LiverCirrhosis, getHtmlAttributes(Model.LiverCirrhosis, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="col-md-6">
                                <div id="divAnginaPectoris">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.AnginaPectoris)
                                                @CreateCheckbox(Model.AnginaPectoris)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.AnginaPectoris, getHtmlAttributes(Model.AnginaPectoris, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divMyocardialinfarction">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.CardiacDisease)
                                                @CreateCheckbox(Model.Myocardialinfarction)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.Myocardialinfarction, getHtmlAttributes(Model.Myocardialinfarction, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divAnyRadiationInHead">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.AnyRadiationInHead)
                                                @CreateCheckbox(Model.AnyRadiationInHead)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.AnyRadiationInHead, getHtmlAttributes(Model.AnyRadiationInHead, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divRheumaticDisorder">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.RheumaticDisorder)
                                                @CreateCheckbox(Model.RheumaticDisorder)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.RheumaticDisorder, getHtmlAttributes(Model.RheumaticDisorder, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divRenalDiseases">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.RenalDiseases)
                                                @CreateCheckbox(Model.RenalDiseases)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.RenalDiseases, getHtmlAttributes(Model.RenalDiseases, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divPregnancy">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.Pregnancy)
                                                @CreateCheckbox(Model.Pregnancy)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.Pregnancy, getHtmlAttributes(Model.Pregnancy, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="divSubacuteBacterial">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            <div class="col-md-4 control-label">
                                                @Html.LabelFor(x => x.SubacuteBacterial)
                                                @CreateCheckbox(Model.SubacuteBacterial)
                                            </div>
                                            <div class="col-md-8">
                                                @Html.TextBoxFor(x => x.SubacuteBacterial, getHtmlAttributes(Model.SubacuteBacterial, "form-control"))
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div id="divCurrentMedications">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            @Html.LabelFor(model => model.CurrentMedications, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.CurrentMedications, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div id="divAnyOtherMedical">
                                    <div class="row">
                                        <div class="form-group form-group-sm">
                                            @Html.LabelFor(model => model.AnyOtherMedical, new { @class = "control-label col-md-2" })
                                            <div class="col-md-10">
                                                @Html.TextAreaFor(model => model.AnyOtherMedical, new { @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



@if (Model.ClenchingId != null || Model.GrindingBruxismId != null || Model.MastiMuscleId != null || Model.BitingId != null ||
                    Model.ChewingId != null || Model.ChewingArea != null || Model.TongueThrusting != null || Model.Smoking != null ||
                    Model.Alcohol != null)
{

        <div class="row">
            <div class="col-md-6">
                <h5 class="subHeading">HABITS</h5>
                <div id="divClenchingId" >
                    <div class="row">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(x => x.ClenchingId, new { @class = "col-md-4 control-label" })
                            <div class="col-md-4 dropdown">
                                @Html.DropDownListFor(model => model.ClenchingId, new SelectList(Model.Clenchinglist, "CodeId", "CodeDescription"), "",htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.Clenching, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divGrindingBruxismId" >
                    <div class="row">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(x => x.GrindingBruxismId, new { @class = "col-md-4 control-label" })
                            <div class="col-md-4 dropdown">
                                @Html.DropDownListFor(model => model.GrindingBruxismId, new SelectList(Model.GrindingBruxismlist, "CodeId", "CodeDescription"), "", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.GrindingBruxism, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divMastiMuscleId" >
                    <div class="row">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(x => x.MastiMuscleId, new { @class = "col-md-4 control-label" })
                            <div class="col-md-4 dropdown">
                                @Html.DropDownListFor(model => model.MastiMuscleId, new SelectList(Model.MastiMusclelist, "CodeId", "CodeDescription"), "", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.MastiMuscle, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divBitingId" >
                    <div class="row">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(x => x.BitingId, new { @class = "col-md-4 control-label" })
                            <div class="col-md-4 dropdown">
                                @Html.DropDownListFor(model => model.BitingId, new SelectList(Model.Bitinglist, "CodeId", "CodeDescription"), "",htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.Biting, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divChewingId" >
                    <div class="row">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(x => x.ChewingId, new { @class = "col-md-4 control-label" })
                            <div class="col-md-4 dropdown">
                                @Html.DropDownListFor(model => model.ChewingId, new SelectList(Model.Chewinglist, "CodeId", "CodeDescription"), "", htmlAttributes: new { @class = "form-control" })
                            </div>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.Chewing, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            <div class="col-md-6">
                <h5 style="color:white">.</h5>
                <div id="divChewingArea" >
                    <div class="row">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(model => model.ChewingArea, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.ChewingArea, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divTongueThrusting" >
                    <div class="row">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(model => model.TongueThrusting, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.TongueThrusting, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divSmoking" >
                    <div class="row">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(model => model.Smoking, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Smoking, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
                <div id="divAlcohol" >
                    <div class="row">
                        <div class="form-group form-group-sm">
                            @Html.LabelFor(model => model.Alcohol, new { @class = "control-label col-md-4" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(model => model.Alcohol, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
              
                </div>
            </div>

}



    </div>
 
