@model DIMS.ViewModels.PROSFPDViewModel

<div class="form-horizontal">
    @Html.ValidationSummary(true)


    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">1.Diagnosis,Treatment Plan,Discussion</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FPDDiagnosisTpDiscDate)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-12">
                                @Html.TextAreaFor(x => x.FPDDiagnosisTpDisc, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">2.Treatment Option Selected</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FPDTreatmentOptionSelDate)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-12">
                                @Html.TextAreaFor(x => x.FPDTreatmentOptionSel, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">3.Implant Placement/grafting &/or membrane/suturing</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FPDImplantPlacementDate)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-12">
                                @Html.TextAreaFor(x => x.FPDImplantPlacementDesc, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    



    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">4.Suture Removal</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FPDSutureRemovalDate)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-12">
                                @Html.TextAreaFor(x => x.FPDSutureRemoval, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">5.2nd Stage Surgery</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FPDSecondStageSurgeryDate)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-12">
                                @Html.TextAreaFor(x => x.FPDSecondStageSurgery, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">6.Impression --Implant Level/Abutment Level</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FPDImpressionImpAbutDate)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-12">
                                @Html.TextAreaFor(x => x.FPDImpressionImpAbut, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">7.Jig Trial</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FPDJigTrialDate)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-12">
                                @Html.TextAreaFor(x => x.FPDJigTrial, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">8.Prosthesis Insertion</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FPDProsthesisInsertionDate)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-12">
                                @Html.TextAreaFor(x => x.FPDProsthesisInsertion, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="box box-default collapsed-box">
                <div class="box-header with-border">
                    <h3 class="box-title">9.Review</h3>
                    <div class="box-tools pull-right">
                        <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                            <i class="fa fa-plus"></i>
                        </button>
                    </div>
                </div>
                <div class="box-body">
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-8">
                            </div>
                            <div class="col-md-4">
                                @Html.EditorFor(model => model.FPDReviewDate)
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="form-group form-group-sm">
                            <div class="col-md-12">
                                @Html.TextAreaFor(x => x.FPDReview, new { @class = "form-control" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>