@using Metron.Entities
@model DIMS.ViewModels.PROSMFPViewModel
@functions{
    public string GetClassFromProperties(string propertyName)
    {
        var props = Model.Proplist.FirstOrDefault<PROSMFPCasesheetProperties>(x => x.PropertyName == propertyName);

        if (props != null && props.PropertyVisibility == "N")
        {
            return "display:none";
        }

        return "";
    }
}

<div class="row ">
    <div class="col-md-12">
        <div class="form-group form-group-sm ">
            @Html.ValidationMessageFor(model => model.ProsthoMFPDate)
            @Html.HiddenFor(model => model.PatientId)
            @Html.HiddenFor(model => model.ProsthoMFPId)
            @Html.HiddenFor(model => model.TreatmentReferredId)
            @Html.HiddenFor(model => model.AllotId)
        </div>
    </div>
</div>
<div id="divChiefComplaintName">
    <div class="row">
        <div class="form-group form-group-sm required">
            @Html.LabelFor(x => x.ChiefComplaintName, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextAreaFor(x => x.ChiefComplaint, new { @class = "form-control", required = "required" })
            </div>
        </div>
    </div>
</div>
<div id="divHistoryOfpresentIllness">
    <div class="row">
        <div class="form-group form-group-sm ">
            @Html.LabelFor(model => model.HistoryOfpresentIllness, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.HistoryOfpresentIllness, new { @class = "form-control"})
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-12">
        <div class="box box-default collapsed-box">
            <div class="box-header with-border">
                <h3 class="box-title">PAST MEDICAL HISTORY , EXISTING MFP COMMENTS & PERSONAL HISTORY </h3>
                <div class="box-tools pull-right">
                    <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                        <i class="fa fa-plus"></i>
                    </button>
                </div>
            </div>
            <div class="box-body">
                <div class="col-md-12">

                    <div id="divPastMedicalHistory">
                        <div class="row">
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(model => model.PastMedicalHistory, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.PastMedicalHistory, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divExistingMfpComments">
                        <div class="row">
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(model => model.ExistingMfpComments, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.ExistingMfpComments, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                    <div id="divPersonalHistory">
                        <div class="row">
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(model => model.PersonalHistory, new { @class = "control-label col-md-2" })
                                <div class="col-md-10">
                                    @Html.TextAreaFor(model => model.PersonalHistory, new { @class = "form-control" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





