@model DIMS.ViewModels.PROSFPDViewModel

@functions
{
    public List<string> UserRights()
    {
        var user = User as DIMS.Infrastructure.CustomPrincipal;
        return user.UserRights(DIMS.Enums.Department.PROSTHO);
    }
}

@using (Html.BeginForm("PROSFPDCreate", "PROSTHO", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        @Html.Partial("../Prescriptions/_CreateMedicalAlert", Model.medicalalertviewmodel)
        <div class="box box-info ">
            <div class="box-header with-border" style="background-color:aliceblue;">
                <h3 class="box-title"> Fixed Partial Denture Casesheet</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="col-md-12">

                        @Html.Partial("../PatientInformation/_PatientInformationDetails", Model.patientInformationViewModel,
                            new ViewDataDictionary()
                            {
                                TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "studentAllotmentViewModel" }
                            })
                    </div>
                </div>
            </div>
        </div>

        @{List<string> add = UserRights();}
        @if (add.Contains(DIMS.Infrastructure.PermissionsEnum.Add.ToString()))
        {
            <div class="row">
                <div class="form-group">
                    <div class="col-xs-4">
                    </div>
                    <div class="col-xs-4">
                        <center>
                            <button type="submit" class="btn btn-success btn-sm" id="SaveButton">
                                Save
                                <i class="fa fa-save"></i>
                            </button>
                        </center>
                    </div>
                    <div class="col-xs-4">
                    </div>
                </div>
            </div>
        }
        <div class="box box-default box-solid">
            <div class="box-body">
                <div class="col-md-12">
                    <div id="tabContainer">
                        <ul class="pagination pagination-lg" role="tablist" style="margin:0px">
                            <li class="active">
                                <a href="#History" role="tab" class="paginationtab no-border" aria-controls="History" data-toggle="tab">History</a>
                            </li>
                            <li class="">
                                <a href="#Examination" role="tab" class="paginationtab no-border" aria-controls="PreExtractionRecord" data-toggle="tab">Examination</a>
                            </li>
                            @*<li class="">
                                <a href="#Diagnosis" role="tab" class="paginationtab no-border" aria-controls="DiagnosisAndTreatmentPlan" data-toggle="tab">Diagnosis</a>
                            </li>*@
                            @if (add.Contains(DIMS.Infrastructure.PermissionsEnum.Investigation.ToString()))
                            {
                                <li class="">
                                    <a href="#Investigation" role="tab" class="paginationtab no-border" aria-controls="Investigation" data-toggle="tab">Investigation</a>
                                </li>
                            }
                            @*<li class="">
                                <a href="#InvestigationReport" role="tab" class="paginationtab no-border" aria-controls="InvestigationReport" data-toggle="tab">Investigation Report</a>
                            </li>
                            @if (add.Contains(DIMS.Infrastructure.PermissionsEnum.TreatmentServices.ToString()))
                            {
                                <li class="">
                                    <a href="#Treatment" role="tab" class="paginationtab no-border" aria-controls="Treatment" data-toggle="tab">Treatment</a>
                                </li>
                            }*@
                            @*<li class="">
                                <a href="#TreatmentRecord" role="tab" class="paginationtab no-border" aria-controls="TreatmentRecord" data-toggle="tab">Treatment Record</a>
                            </li>*@
                            <li class="">
                                <a href="#ProcedureNote" role="tab" class="paginationtab no-border" aria-controls="ProcedureNote" data-toggle="tab">Procedure Notes</a>
                            </li>
                            <li class="">
                                <a href="#Appointment" role="tab" class="paginationtab no-border" aria-controls="ProcedureNote" data-toggle="tab">Appointments</a>
                            </li>
                            <li class="">
                                <a href="#Referral" role="tab" class="paginationtab no-border" aria-controls="Referral" data-toggle="tab">Referral</a>
                            </li>
                        </ul>
                        <div class="tab-content">

                            <div class="tab-pane fade active in" id="History">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <div class="form-group">
                                                    @Html.Partial("../PROSTHO/_PROSFPDHistory", Model)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="tab-pane fade" id="Examination">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <div class="form-group">
                                                    @Html.Partial("../PROSTHO/_PROSFPDExamination", Model)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="InvestigationReport">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <div class="form-group">
                                                    @Html.Partial("../Radiography/_RadiographicDetails", Model.radioRegistrationviewmodel)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <div class="form-group">
                                                    @Html.Partial("../Radiography/_LaboratoryDetails", Model.laboratoryRegistrationviewmodel)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Diagnosis">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <div class="form-group">
                                                    @Html.Partial("../PROSTHO/_PROSFPDDiagnosis", Model)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="tab-pane fade" id="Investigation">
                                <div class="row">
                                    <div class="box box-primary">
                                        <div class="box-header with-border">
                                            <div class="col-md-12">
                                                <div class="form-group">
                                                    @Html.Partial("../Investigation/_LabRadCreate", Model.billingLabRadQueueViewModal)
                                                </div>

                                                <div class="form-group">
                                                    @Html.Partial("../Investigation/_LabRadInvestigationList", Model.BillingLabRadQueueDetails,
                                                              new ViewDataDictionary()
                                                              {
                                                                  TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "BillingLabRadQueueDetails" }
                                                              })
                                                </div>
                                            </div>

                                            <div class="col-md-12 hidden">
                                                @Html.ActionLink("Request for OralPathology", "Index", "ORPATHRequisition", new { id = Model.studentAllotmentViewModel.AllotId }, new { target = "_blank" })
                                            </div>
                                            @if (Model.paidLabRadInvestigationList.Count() > 0)
                                            {
                                                <br />
                                                        <div class="col-md-12">
                                                            <div class="form-group">
                                                                @Html.Partial("../Investigation/_PaidInvestigationList", Model.paidLabRadInvestigationList)
                                                            </div>
                                                        </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="tab-pane fade" id="Treatment">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="box box-default collapsed-box">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title">TREATMENT DETAILS</h3>
                                                                <div class="box-tools pull-right">
                                                                    <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="form-group">
                                                                    @Html.Partial("../Investigation/_Create", Model.billingQueueViewModal)
                                                                </div>
                                                                <div class="form-group">
                                                                    @Html.Partial("../Investigation/_InvestigationList", Model.BillingQueueDetails,
                                                              new ViewDataDictionary()
                                                              {
                                                                  TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "BillingQueueDetails" }
                                                              })
                                                                </div>
                                                                @if (Model.paidInvestigationList.Count() > 0)
                                                                {
                                                                    <br />
                                                                            <div class="col-md-12">
                                                                                <div class="form-group">
                                                                                    @Html.Partial("../Investigation/_PaidInvestigationList", Model.paidInvestigationList)
                                                                                </div>
                                                                            </div>
                                                                }
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="box box-default collapsed-box">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title">TREATMENT PLAN</h3>
                                                                <div class="box-tools pull-right">
                                                                    <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="form-group">
                                                                    <div class="row">
                                                                        <div class="form-group form-group-sm">
                                                                            @Html.LabelFor(model => model.TreatmentPlan, new { @class = "control-label col-md-2" })
                                                                            <div class="col-md-10">
                                                                                @Html.TextAreaFor(model => model.TreatmentPlan, new { @class = "form-control" })
                                                                            </div>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="box box-default collapsed-box">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title">PRESCRIPTIONS</h3>
                                                                <div class="box-tools pull-right">
                                                                    <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                </div>
                                                            </div>
                                                            <div class="box-body">
                                                                <div class="form-group">
                                                                    @Html.Partial("../Prescriptions/_Create", Model.PrescriptionsList)
                                                                </div>
                                                                <div class="form-group">
                                                                    @Html.Partial("../Prescriptions/_PrescriptionList", Model.PrescriptionsDetails,
                                                              new ViewDataDictionary()
                                                              {
                                                                  TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "PrescriptionsDetails" }
                                                              })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="tab-pane fade" id="TreatmentRecord">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <div class="form-group">
                                                    @Html.Partial("../PROSTHO/_PROSFPDTreatmentRecord", Model)
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="ProcedureNote">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <div class="form-group">
                                                    @Html.Partial("../StudentAllotment/_ProcedureNote", Model.studentAllotmentViewModel,
                                                          new ViewDataDictionary()
                                                          {
                                                              TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "studentAllotmentViewModel" }
                                                          })
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="Appointment">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        <div class="box box-default collapsed-box">
                                                            <div class="box-header with-border">
                                                                <h3 class="box-title">APPOINTMENT</h3>
                                                                <div class="box-tools pull-right">
                                                                    <button type="button" class="btn btn-primary btn-xs" data-widget="collapse">
                                                                        <i class="fa fa-plus"></i>
                                                                    </button>
                                                                </div>
                                                            </div>


                                                            <div class="box-body">
                                                                <div class="form-group">
                                                                    @if (add.Contains(DIMS.Infrastructure.PermissionsEnum.Appointment.ToString()))
                                                                    {
                                                                        @Html.Partial("../Followup/_PatientFollowUp", Model.followupViewModal,
                                                                            new ViewDataDictionary()
                                                                            {
                                                                                TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "followupViewModal" }
                                                                            })
                                                                    }
                                                                    @*@if (Model.followupList.Count() > 0)
                                                {
                                                    <div class="form-group">
                                                        @Html.Partial("../Followup/_PatientFollowUpList", Model.followupList)
                                                    </div>
                                                }*@
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div> 
                            <div class="tab-pane fade" id="Referral">
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="box box-primary">
                                            <div class="box-header with-border">
                                                <h3 class="box-title">PREVIOUS DEPARTMENT REFERRAL</h3>
                                            </div>

                                            <div class="box-body">
                                                <div class="form-group">
                                                    @Html.Partial("../ReferralStatus/ViewReferral", Model.ViewdepartmentReferredStatus)
                                                </div>
                                            </div>

                                            @if (add.Contains(DIMS.Infrastructure.PermissionsEnum.Referral.ToString()))
                                            {
                                                <div class="box-header with-border">
                                                    <h3 class="box-title">REFERRAL TO OTHER DEPARTMENTS</h3>
                                                </div>
                                                        <div class="box-body">
                                                            <div class="form-group">
                                                                @Html.Partial("../ReferralStatus/Create", Model.CreatedepartmentReferredStatus,
                                                                  new ViewDataDictionary()
                                                                  {
                                                                      TemplateInfo = new TemplateInfo() { HtmlFieldPrefix = "CreatedepartmentReferredStatus" }
                                                                  })
                                                            </div>
                                                        </div>
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
            }

<div>
    @Html.ActionLink("Back To List", "PROSTreatment", "PROSTHO", new { allotId = Model.AllotId, patientId = Model.PatientId }, new { @class = "btn btn-primary btn-xs" })
</div>

