@model DIMS.ViewModels.UserViewModel


@using (Html.BeginForm("Edit", "User", FormMethod.Post))
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true)
        <div class="box box-default box-solid">
            <div class="box-header with-border">
                <h3 class="box-title"> Change Password</h3>
            </div>
            <div class="box-body">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(model => model.UserName, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.TextBoxFor(model => model.UserName, new { @class = "form-control", @readonly = "readonly" })
                                    @Html.ValidationMessageFor(model => model.UserName)
                                </div>
                            </div>
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(model => model.NewPassword, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.PasswordFor(model => model.Password, new { @class = "form-control" ,@required="required", autocomplete = "off" , maxlength = "10" })
                                    @Html.ValidationMessageFor(model => model.Password)
                                    @Html.HiddenFor(x => x.UserId)
                                </div>
                            </div>
                           
                            <div class="form-group form-group-sm">
                                @Html.LabelFor(model => model.ConfirmPassword, new { @class = "control-label col-md-2" })
                                <div class="col-md-4">
                                    @Html.PasswordFor(model => model.ConfirmPassword, new { @class = "form-control", maxlength = "10" })
                                    @Html.ValidationMessageFor(model => model.ConfirmPassword)
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group form-group-sm">
                        <div class="col-md-12  col-md-offset-3">
                            <input type="submit" value="Save" class="btn btn-success" id="btnChangePassword" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

    
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>




@section scripts
{
    <script type="text/javascript">

        $('#btnChangePassword').on('click', function () {
            var $Password = $("#Password").val();
            var $ConfirmPassword = $("#ConfirmPassword").val();

            if ($Password != $ConfirmPassword) {
                alert("Your password and confirm password do not match.");
                return false;
            }            
        });

</script>
}
