 @model IEnumerable<DIMS.ViewModels.BillingQueueServiceViewModel>
@{
    string modelName = ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix;
    int index = 0;
}
@functions{
    string GetId(string fieldName, int index)
    {
        return string.Format("{0}[{2}]_{1}", ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix, fieldName, index);
    }
    string GetName(string fieldName, int index)
    {
        return string.Format("{0}[{2}].{1}", ViewContext.ViewData.TemplateInfo.HtmlFieldPrefix, fieldName, index);
    }
}

<div class="form-horizontal form-group form-group-sm table-responsive">
    <table id="tbInvestigationApprovalDetails" class="table table-bordered">
        <tr>
            <th class="col-md-2">
                @Html.DisplayNameFor(model => model.TreatmentServiceName)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.TeethNo)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Qty)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th class="col-md-1 hidden">
                @Html.DisplayNameFor(model => model.DiscountAmt)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.NetAmount)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.PaidAmount)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.PayableAmount)
            </th>
            <th class="col-md-1">
                @Html.DisplayNameFor(model => model.PayableRequestAmount)
                
            </th>
            <th class="col-md-1">

            </th>



        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.HiddenFor(modelItem => item.ServiceId, new { @class = "form-control iHidden", @id = GetId("ServiceId", index), @Name = GetName("ServiceId", index) })
                    @Html.DisplayFor(modelItem => item.ServiceName)
                    @Html.HiddenFor(modelItem => item.ServiceName, new { @class = "form-control", @id = GetId("ServiceName", index), @Name = GetName("ServiceName", index) })
                    @Html.HiddenFor(modelItem => item.PatientId, new { @class = "form-control", @id = GetId("PatientId", index), @Name = GetName("PatientId", index) })
                    @Html.HiddenFor(modelItem => item.BillQueueId, new { @class = "form-control", @id = GetId("BillQueueId", index), @Name = GetName("BillQueueId", index) })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TeethNo)
                    @Html.HiddenFor(modelItem => item.TeethNo, new { @class = "form-control", @id = GetId("TeethNo", index), @Name = GetName("TeethNo", index) })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Qty)
                    @Html.HiddenFor(modelItem => item.Qty, new { @class = "form-control js_sumQty", @id = GetId("Qty", index), @Name = GetName("Qty", index) })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                    @Html.HiddenFor(modelItem => item.Amount, new { @class = "form-control js_sumAmount", @id = GetId("Amount", index), @Name = GetName("Amount", index) })
                </td>
                <td hidden>
                    @Html.DisplayFor(modelItem => item.DiscountAmt)
                    @Html.HiddenFor(modelItem => item.DiscountAmt, new { @class = "form-control js_sumdisAmount", @id = GetId("DiscountAmt", index), @Name = GetName("DiscountAmt", index) })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NetAmount)
                    @Html.HiddenFor(modelItem => item.NetAmount, new { @class = "form-control js_sumNetAmount", @id = GetId("NetAmount", index), @Name = GetName("NetAmount", index) })
                    @Html.HiddenFor(modelItem => item.DiscountPer, new { @class = "form-control", @id = GetId("DiscountPer", index), @Name = GetName("DiscountPer", index) })
                    @Html.HiddenFor(modelItem => item.Rate, new { @class = "form-control", @id = GetId("Rate", index), @Name = GetName("Rate", index) })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PaidAmount)
                    @Html.HiddenFor(modelItem => item.PaidAmount, new { @class = "form-control js_sumPaidAmount", @id = GetId("PaidAmount", index), @Name = GetName("PaidAmount", index) })
                </td>
                <td>
                    @Html.TextBoxFor(modelItem => item.PayableAmount, new { @maxLength = "5", @readonly = "readonly", @class = "form-control js_sumPayableAmount", @id = GetId("PayableAmount", index), @Name = GetName("PayableAmount", index) })
                 
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.PayableRequestAmount)
                    @Html.HiddenFor(modelItem => item.PayableRequestAmount, new { @class = "form-control js_sumPayableRequestAmount", @id = GetId("PayableRequestAmount", index), @Name = GetName("PayableRequestAmount", index) })
                </td>

                @if (item.Approvalvalue.Trim() == "Y")
                {
                    <td class="text-green">
                        @Html.DisplayFor(modelItem => item.ApprovalStatus)
                    </td>
                }
                else if (item.Approvalvalue.Trim() == "N")
                {
                    <td>
                        @Html.CheckBoxFor(modelItem => item.IsApproved, new { @class = "", @id = GetId("IsApproved", index), @Name = GetName("IsApproved", index) })
                    </td>
                }


            </tr>
            index++;
        }
        @*<tfoot>
            <tr>
                <td colspan="2"></td>
              
                <td>
                    <input type="text" class="form-control" readonly="readonly" id="TotalQty">
                </td>
                <td>
                    <input type="text" class="form-control" readonly="readonly" id="TotalAmount">
                </td>
                <td>
                    <input type="text" class="form-control" readonly="readonly" id="TotalDisAmount">
                </td>
                <td>
                    <input type="text" class="form-control" readonly="readonly" id="TotalNetAmount">
                </td>
                <td></td>
                <td></td>
                <td></td>
            </tr>
        </tfoot>*@
    </table>
</div>
