@model DIMS.ViewModels.MedicalAlertViewModel


<div class="row">
    <div class="col-md-12">
        <div class="box box-default">
            <div class="box-header with-border">
                <i class="fa fa-warning text-yellow"></i>
                <h3 class="box-title">Medical Alert</h3>               
            </div>
            <div class="box-body">
                @if (Model.MedicalAlertList.Count() > 0 || Model.MLCValue != null)
                {
                    if (Model.MedicalAlertList.Count() > 0)
                    {
                        <div class="callout callout-danger" style="margin:0px">
                            @Html.DisplayNameFor(x => x.PROPVALUES)
                            @Html.DisplayFor(x => x.PROPVALUES)
                        </div>
                    }
                    if (Model.MLCValue != null)
                    {
                        <div class="callout callout-danger" style="margin:0px">
                            @Html.DisplayNameFor(x => x.MLCValue)
                            @Html.DisplayFor(x => x.MLCValue)
                        </div>
                    }
                }
                else
                {
                    <div class="callout callout-danger" style="margin:0px">
                       <h5>No Records Found</h5>
                    </div>
                }
                @*@if (Model.MLCValue != null)
                {

                    <div class="callout callout-danger">
                        @Html.DisplayNameFor(x => x.MLCValue)
                        @Html.DisplayFor(x => x.MLCValue)
                    </div>
                }*@
            </div>
        </div>
    </div>
</div>

