@model DIMS.ViewModels.OPDSearchViewModel

@functions
{
    public string GetUrl()
    {
        var user = User as DIMS.Infrastructure.CustomPrincipal;
        return user.GetRootUrl();
    }
}

<div class="row">
    <div class="col-md-12">
        <div class="panel-heading">
            <h4>Out Patient Registration Department</h4>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="panel-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-1 form-group form-group-sm">
                        @Html.LabelFor(x => x.DateRange, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2 form-group form-group-sm">
                        @Html.EditorFor(model => model.DateRange, new { htmlAttributes = new { @class = "form-control" } })
                    </div>
                    <div class="col-md-1 form-group form-group-sm">
                        @Html.LabelFor(x => x.OPNo, new { @class = "control-label" })
                    </div>
                    <div class="col-md-2 form-group form-group-sm">
                        @Html.TextBoxFor(x => x.OPNo, new { @class = "form-control" })
                        @Html.HiddenFor(model => model.userid)
                    </div>
                    <div class="col-md-2 form-group form-group-sm">
                        @Html.LabelFor(x => x.PatientName, new { @class = "control-label" })
                    </div>
                    <div class="col-md-3 form-group form-group-sm">
                        @Html.TextBoxFor(x => x.PatientName, new { @class = "form-control" })
                    </div>
                    <div class="col-md-1 form-group form-group-sm">
                        <a id="btnSearch"> <i class="fa fa-search fa fa-search btn btn-success"> Search</i></a>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-md-12">
                    <div class="box box-info">
                        <div class="box-header with-border">
                            <h3 class="box-title">Patient Registration Search</h3>
                        </div>
                        <div class="box-body">
                            <div class="table-responsive">
                                <table id="tbOPDSearch" class="table table-bordered table-hover" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>DATE </th>
                                            <th>TIME </th>
                                            <th>OP #</th>
                                            <th>PATIENT NAME</th>
                                            <th>AGE</th>
                                            <th>PHONE</th>
                                            <th>AREA</th>
                                            <th>CATEGORY</th>
                                            <th>ACTION</th>
                                            <th>REVISIT</th>
                                            <th></th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="container" style="width:90%;margin-top:2%">
    <div class="modal fade" id="myModelPatient">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">&times;</a>
                    <h4 class="modal-title">Referral</h4>
                </div>
                <div class="modal-body" id="myModelBodyDivPatient">
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script type="text/jscript">

        $(document).ready(function () {
            var start = moment();
            var end = moment();
            $('#DateRange').daterangepicker({
                startDate: start,
                endDate: end,
                locale: {
                    format: 'DD/MM/YYYY'
                },
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);
            function cb(start, end) {
                $('#DateRange span').html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
            }
            cb(start, end);


            $('#btnSearch').on('click', function (e) {

                e.preventDefault();
                Searchvalue();
            });

            var Searchvalue = function () {

                var itemIndex = $("#tbOPDSearch input.iHidden").length;
                $('#tbOPDSearch tbody').empty();
                var selected = $("#DateRange").val();
                var from = selected.split("-");
                var fromdate = $.trim(from[0]);
                var todate = $.trim(from[1]);

                var $From_Date = fromdate.split("/").reverse().join("-");
                var $To_Date = todate.split("/").reverse().join("-");

                var $OPNo = $("#OPNo").val();
                var $PatientName = $("#PatientName").val();
                var user = $("#userid").val();
                $.ajax({
                    type: "POST",
                    url: '@Url.Action("GetOPDSearchDetList", "Registration")',
                    data: '{From_Date: "' + $From_Date + ' ",To_Date: "' + $To_Date + ' ",OPNo:"' + $OPNo + '",PatientName:"' + $PatientName + '"}',
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (data) {
                        table = $('#tbOPDSearch').DataTable();
                        table.destroy();
                        $('#tbOPDSearch').dataTable({
                            data: data,
                            columns: [
                                { 'data': 'RegDate' },
                                { 'data': 'RegTime', },
                                { 'data': 'OPNo' },
                                { 'data': 'PatientName' },
                                { 'data': 'Age' },
                                { 'data': 'Phone' },
                                { 'data': 'Area' },
                                { 'data': 'Category' },
                                {
                                    'data': 'Link',
                                    'searchable': false,
                                    'sortable': false,
                                    'render': function (Link) {
                                        return '<a href=' + Link + '>Edit</a>';
                                    }
                                },
                                {
                                    'data': 'Revisit',
                                    'searchable': false,
                                    'sortable': false,
                                    'render': function (Revisit) {
                                        if (Revisit != 0) {
                                            return '<a href=' + Revisit + '>Revisit</a>';
                                        }
                                        else {
                                            return null;
                                        }

                                    }
                                },
                                 {
                                     'data': 'Refferal',
                                     'searchable': false,
                                     'sortable': false,
                                     'render': function (Refferal) {
                                         return '<a ' + Refferal + ' >Patient Status</a>';
                                     }
                                 },
                            ]
                        })
                    },
                })
            }

            Searchvalue();
            $("#DateRange").on("change", function () {
                Searchvalue();
            })
        });

        var ViewModel = function (patientId) {

            var url = "@GetUrl()/Registration/ViewReferralStatus?PatientId=" + patientId + "";
            $("#myModelBodyDivPatient").load(url, function () {
                $("#myModelPatient").modal("show");
            })
        }

    </script>
}
