@model DIMS.ViewModels.OPDPatientRegistrationViewModel
@{
    ViewBag.Title = "OPRegistrationReport";
}

<style>
    .col30 {
        width: 30%;
        padding: 5px !important;
    }

    .col40 {
        width: 40%;
        padding: 5px !important;
    }

    .col50 {
        width: 50%;
        padding: 5px !important;
    }

    .col60 {
        width: 60%;
        padding: 5px !important;
    }

    .col70 {
        width: 70%;
        padding: 5px !important;
    }

    .col80 {
        width: 80%;
        padding: 5px !important;
    }

    .col35 {
        width: 35%;
        padding: 5px !important;
    }

    .col20 {
        width: 20%;
        padding: 5px !important;
    }

    .col10 {
        width: 10%;
        padding: 5px !important;
    }



    .header_title {
        margin-top: 15px;
        padding: 10px;
        padding-bottom: 5px;
        font-size: 18px;
        text-transform: uppercase;
        /*background-color: black;*/
        /*color: white;*/
        border-bottom: 2px solid black;
        border-top: 2px solid black;
        text-align: center;
    }

    /*.headerRow {
        display: none;
    }*/

    @@media print {
        .headerRow {
            display: block;
        }
    }

    .signature-wrapper {
        position: relative;
        width: 100%;
        height: 250px;
        -moz-user-select: none;
        -webkit-user-select: none;
        -ms-user-select: none;
        user-select: none;
    }

    .signature-pad {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 250px;
        background-color: white;
    }
    .signature-image {
        float: right;
        margin-right: 20%;
        clear: both;
        width: 116px;
        margin-bottom: -34px;
    }
    .clear-both {
        clear: both !important;
    }
</style>


@functions{
    public string IsVisible(string propertyName)
    {
        if (propertyName == null)
        {
            return "display:none";
        }

        return "";
    }
    public string IsVisible(int propertyName)
    {
        if (propertyName == null)
        {
            return "display:none";
        }

        return "";
    }
}

<div class="" style="min-height:70vh">

    <div class="headerRow">
        @Html.Partial("~/Views/Reports/_HeaderReport.cshtml")
    </div>
    <div class="row">
        <div class="col-md-12 header_title">
            <p>out patient registration</p>
        </div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-12">
            <table class="table" style="margin-bottom:0!important;">
                <tr>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.RegDateDisplay)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.RegDateDisplay)</td>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.OpNo)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.OpNo)</td>
                </tr>
                <tr>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.PatientName)</strong></td>
                    <td class="col30">
                        @Html.DisplayFor(model => model.TitleName)
                        @Html.DisplayFor(model => model.PatientName)
                    </td>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.Dob)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.DobDisplay)</td>
                </tr>
                <tr>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.Gender)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.Gender)</td>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.Age)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.Age)</td>
                </tr>
                <tr>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.FatherOrHusband)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.FatherOrHusband)</td>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.CategoryId)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.CategoryName)</td>
                </tr>
                <tr>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.Phone)</strong></td>
                    <td class="col30">+91 @Html.DisplayFor(model => model.Phone)</td>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.Area)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.Area)</td>

                <tr>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.Address)</strong></td>
                    <td colspan="3">
                        @if (Model.Address != null)
                        {
                            @Html.DisplayFor(model => model.Address)
                        }
                        @Html.DisplayFor(model => model.CityName), @Html.DisplayFor(model => model.StateName), @Html.DisplayFor(model => model.CountryName)
                    </td>
                </tr>

            </table>
            @Html.HiddenFor(model => model.PatientId)
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <table class="table">
                <tr>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.AlterPhone)</strong></td>
                    <td class="col30">+91 @Html.DisplayFor(model => model.AlterPhone)</td>

                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.Email)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.Email)</td>

                    <td class="col20 hidden"><strong>@Html.DisplayNameFor(model => model.AadharNo)</strong></td>
                    <td class="col30 hidden">@Html.DisplayFor(model => model.AadharNo)</td>
                </tr>


                <tr style='@IsVisible(@Model.PinCode)' class="hidden">
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.PinCode)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.PinCode)</td>
                </tr>
                <tr class="hidden">
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.BloodGroupId)</strong></td>
                    @if (Model.BloodGroupId > 0)
                    {
                        <td class="col30">@Html.DisplayFor(model => model.BloodGroupName)</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>
                <tr class="hidden">
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.Occupation)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.Occupation)</td>
                </tr>
                <tr class="hidden">
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.MaritalStatus)</strong></td>
                    @if (Model.MaritalStatusId > 0)
                    {
                        <td class="col30">@Html.DisplayFor(model => model.MaritalStatus)</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>

                <tr style='@IsVisible(@Model.Education)' class="hidden">
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.Education)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.Education)</td>
                </tr>
                <tr class="hidden">
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.ReligionId)</strong></td>
                    @if (Model.ReligionId > 0)
                    {
                        <td class="col30">@Html.DisplayFor(model => model.Religion)</td>
                    }
                    else
                    {
                        <td></td>
                    }
                </tr>


                <tr class="hidden">
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.Birthmark)</strong></td>
                    <td class="col30">@Html.DisplayFor(model => model.Birthmark)</td>
                </tr>
                <tr>
                    <td class="col20"><strong>@Html.DisplayNameFor(model => model.MLCProblem)</strong></td>
                    <td colspan="3">@Html.DisplayFor(model => model.MLCProblem)</td>
                </tr>

            </table>

        </div>
    </div>
</div>

<div class="">
    <footer class="row">
        <div class="col-sm-12">
            <h4>Consent Of Patient</h4>
        </div>
        <div class="col-sm-12">
            I <span> @Html.DisplayFor(model => model.PatientName)</span> has understood the treatment procedure and
            its outcome a agree to undergo the necessary
            treatment including administration of anesthesia as and
            when required and explained to me in the language which I can udnersand.
        </div>
        <div class="col-sm-12">
            <img src="" class="signature-image" />
            <h4 class="pull-right clear-both" style="margin-right: 60px; margin-top: 40px;">----------------------------------------------------------<br />Signature</h4>
        </div>
    </footer>
</div>

<div class="row">
    <div class="col-xs-4">
    </div>
    <div class="col-xs-4 no-print">
        <center>
            <a href="#" target="_blank" class="btn btn-default" onclick="window.print();"><i class="fa fa-print"></i> Print</a>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#signatureCanvasModal"><i class="fa fa-pencil"></i>Mark Signature</button>
        </center>
    </div>
    <div class="col-xs-4">
    </div>
</div>


<!-- Modal -->
<div id="signatureCanvasModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">MARK YOUR SIGNATURE</h4>
            </div>
            <div class="modal-body">
                <div class="signature-wrapper" id="signatureparent">
                </div>
            </div>
            <div class="modal-footer">
                @*<button id="save-png">Save as PNG</button>*@
                <button id="save-signature">Save</button>
                <button id="clear">Clear</button>
            </div>
        </div>

    </div>
</div>


@section scripts{

    <script src="~/Scripts/plugins/jSignature-master/src/jSignature.js"></script>
    <script src="~/Scripts/plugins/jSignature-master/src/plugins/jSignature.CompressorBase30.js"></script>
    <script src="~/Scripts/plugins/jSignature-master/src/plugins/jSignature.CompressorSVG.js"></script>
    <script src="~/Scripts/plugins/jSignature-master/src/plugins/jSignature.UndoButton.js"></script>
    <script src="~/Scripts/plugins/jSignature-master/src/plugins/signhere/jSignature.SignHere.js"></script>

    <script>
        $('#signatureCanvasModal').on('show.bs.modal', function (e) {
            $("#signatureparent").jSignature('destroy');
            window.setTimeout(function() {
                    setCanvasSignature();
                },
                200);
            $('#clear').on('click', function() {
                $("#signatureparent").jSignature('reset');
            });
            $('#save-signature').on('click', function () {
                var blobData = $("#signatureparent").jSignature('getData', "image/svg+xml;base64");
                var imageUrl = "data:" + blobData.join(',');
                $('.signature-image').attr('src', imageUrl);
                $('#signatureCanvasModal').modal('hide');
                

                //console.log(JSON.stringify(blobData));
            });
            $('#signatureCanvasModal').on('hidden.bs.modal',
                function() {
                   
                });
        });

        function setCanvasSignature() {
            $("#signatureparent").jSignature({
                color: "#000000",
                lineWidth: 2,
                height: 250,
                width: "100%"
            });
            $("#signature").resize();
        }
    </script>
}

