@using DIMS.Helpers
@model IEnumerable<DIMS.ViewModels.ItemStoreViewModel>

@{
    ViewBag.Title = "Item Store List";
    var result = ViewBag.Result;
}



<p>
    @Html.ActionLink("Create New", "Create")
</p>


<div class="box box-default box-solid">
    <div class="box-header with-border">
        <h4 class="box-title">Stores List</h4>
    </div>
    <div class="box-body">
        @if (result != null && result.Success && !ViewData.ModelState.Any(x => x.Value.Errors.Any()))
        {
            @BootstrapAlert.BootstrapCustomAlertHtmlString(result.Message, BootstrapAlertType.Success)
        }
        @if (ViewData.ModelState.Any(x => x.Value.Errors.Any()))
        {
            foreach (var modelError in Html.ViewData.ModelState.SelectMany(keyValuePair => keyValuePair.Value.Errors))
            {
                @BootstrapAlert.BootstrapCustomAlertHtmlString(@modelError.ErrorMessage, BootstrapAlertType.Danger)
            }
        }
        <table class="table table-bordered">
            <tr>
                <th>
                    S.No
                </th>
                <th class="hidden">
                    @Html.DisplayNameFor(model => model.ItemStoreId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StockCode)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StoreName)
                </th>
                <th>Actions</th>
            </tr>
            @{int i = 0;}
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    i++;
                    <tr>
                        <td><span>@i</span></td>
                        <td class="hidden">
                            @Html.DisplayFor(modelItem => item.ItemStoreId)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StockCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.StoreName)
                        </td>
                        <td>
                            @Html.ActionLink("Edit", "Edit", new {id = item.ItemStoreId})
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <th colspan="5">
                        No Items are availeble..
                    </th>

                </tr>
            }

        </table>
    </div>
</div>



