
@model DIMS.ViewModels.DeptHomeViewModel
<div class="row">
    @*<div class="col-md-12">
            <div class="col-md-2 form-group form-group-sm">
                @Html.LabelFor(x => x.From_Date, new { @class = "control-label" })
            </div>
            <div class="col-md-3 form-group form-group-sm">
                @Html.EditorFor(model => model.From_Date, new { htmlAttributes = new { Value = Model.From_Date.ToString("yyyy-MM-dd") } })
            </div>
            <div class="col-md-2 form-group form-group-sm">
                @Html.LabelFor(x => x.To_Date, new { @class = "control-label" })
            </div>
            <div class="col-md-3 form-group form-group-sm">
                @Html.EditorFor(model => model.To_Date, new { htmlAttributes = new { Value = Model.From_Date.ToString("yyyy-MM-dd") } })
                @Html.HiddenFor(model => model.DeptId)
                @Html.HiddenFor(model => model.ControllerName)
            </div>
            <div class="col-md-2 form-group form-group-sm">
                <a id="btnSearchReferral"> <i class="fa fa-search fa fa-search btn btn-success"> Search </i></a>
            </div>
        </div>*@

    <div class="col-md-12">
        <div class="col-md-2 form-group form-group-sm">
            @Html.LabelFor(x => x.SearchReferralByDateRange, new { @class = "control-label" })
        </div>
        <div class="col-md-3 form-group form-group-sm">
            @Html.EditorFor(model => model.SearchReferralByDateRange, new { htmlAttributes = new { @class = "form-control" } })
        </div>
        <div class="col-md-7 form-group form-group-sm">
            @Html.HiddenFor(model => model.DeptId)
            @Html.HiddenFor(model => model.ControllerName)
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="box box-info">
            <div class="box-header with-border">
                <h3 class="box-title">Allotment</h3>
            </div>
            <div class="box-body">
                <div class="table-responsive">
                    <table id="tbReferralSearch" class="table table-bordered table-hover" style="width:100%">
                        <thead>
                            <tr>
                                <th class="col-md-1">DATE </th>
                                <th class="col-md-1">TIME</th>
                                <th class="col-md-2">OP #</th>
                                <th class="col-md-3">PATIENT NAME</th>
                                <th class="col-md-1">AGE</th>
                                <th class="col-md-1">PHONE</th>
                                <th class="col-md-2">AREA</th>
                                <th class="col-md-1">FROM</th>
                                <th class="col-md-1"></th>
                            </tr>
                        </thead>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>






<script type="text/jscript">
    $(document).ready(function () {
        var start = moment();
        var end = moment();
        $('#SearchReferralByDateRange').daterangepicker({
            startDate: start,
            endDate: end,
            locale: {
                format: 'DD/MM/YYYY'
            },
            ranges: {
                'Today': [moment(), moment()],
                'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                'This Month': [moment().startOf('month'), moment().endOf('month')],
                'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            }
        }, cb);
        function cb(start, end) {
            $('#SearchReferralByDateRange span').html(start.format('YYYY/MM/DD') + ' - ' + end.format('YYYY/MM/DD'));
        }
        cb(start, end);


        var SearchReferralvalue = function () {
            var itemIndex = $("#tbReferralSearch input.iHidden").length;
            $('#tbReferralSearch tbody').empty();

            var selected = $("#SearchReferralByDateRange").val();
            var from = selected.split("-");
            var fromdate = $.trim(from[0]);
            var todate = $.trim(from[1]);

            var $From_Date = fromdate.split("/").reverse().join("-");
            var $To_Date = todate.split("/").reverse().join("-");

            //var $From_Date = $("#From_Date").val();
            //var $To_Date = $("#To_Date").val();
           
            var $DeptId = $("#DeptId").val();
            $.ajax({
                type: "POST",
                url: '@Url.Action("GetReferralListSearch", "ReferralStatus")',
                data: '{From_Date: "' + $From_Date + ' ",To_Date: "' + $To_Date + ' ",DeptId: "' + $DeptId + ' "}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    
                    tbReferraltable = $('#tbReferralSearch').DataTable();
                    tbReferraltable.destroy();
                    $('#tbReferralSearch').dataTable({
                        data: data,
                        columns: [
                            { 'data': 'FromDate' },
                            { 'data': 'FromTime' },
                            {
                                'data': 'OpNo',
                                "render": function (data, type, row) {
                                   
                                    var strHtml = row.OpNo;
                                    if (row.IsCreated) {
                                        strHtml += '&nbsp;&nbsp;<i class="fa fa-circle fa-xs"></i>';
                                    }
                                    return strHtml;
                                }
                            },
                            { 'data': 'PatientName' },
                            { 'data': 'Age' },
                            { 'data': 'Phone' },
                            { 'data': 'Area' },
                            { 'data': 'FromDeptName' },
                            {
                                'data': 'ForAllotment',
                                'searchable': false,
                                'sortable': false,
                                'render': function (Link) {
                                    return '<a ' + Link + '>Allotment</a>';

                                }
                            }
                        ]
                    })
                },
            })
        }
        SearchReferralvalue();
        $('#SearchReferralByDateRange').on('change', function () {
            SearchReferralvalue();
        });
    });

</script>




