@using Metron.Entities
@model DIMS.ViewModels.OMRViewModel
@functions{
    public string GetClassFromProperties(string propertyName)
    {
        var props = Model.Proplist.FirstOrDefault<OMRCasesheetProperties>(x => x.PropertyName == propertyName);

        if (props != null && props.PropertyVisibility == "N")
        {
            return "display:none";
        }

        return "";
    }
}
<div class="row">
    <div class="col-md-12">

        <div class="row">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.SpecificLesion, new { @class = "col-md-2 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(x => x.SpecificLesion, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.LocalExaminationchiefComplaint, new { @class = "col-md-2 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(x => x.LocalExaminationchiefComplaint, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.Inspection, new { @class = "col-md-2 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(x => x.Inspection, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.Palpation, new { @class = "col-md-2 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(x => x.Palpation, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.Percussion, new { @class = "col-md-2 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(x => x.Percussion, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.Auscultation, new { @class = "col-md-2 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(x => x.Auscultation, new { @class = "form-control" })
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group form-group-sm">
                @Html.LabelFor(x => x.CaseSummary, new { @class = "col-md-2 control-label" })
                <div class="col-md-9">
                    @Html.TextAreaFor(x => x.CaseSummary, new { @class = "form-control" })
                </div>
            </div>
        </div>
    </div>
</div>
